.neeto-ui-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.neeto-ui-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 0 24px;
}

.neeto-ui-container--header-fixed{
  padding: 0;

  & > .neeto-ui-header,
  & > .neeto-ui-subheader,
  & > .neeto-ui-scrollable{
    padding-left: 24px;
    padding-right: 24px;
  }
}

.neeto-ui-subheader [data-tippy-root]{
  z-index: 10000 !important;
}

.neeto-chat-survey-question-accordion__header{
  .neeto-ui-typography{
    color: inherit;
  }
}
