:root {
  --#{$prefix}action-dropdown-gap: 1px;
  --#{$prefix}action-dropdown-border-radius: 0px;
}

.neeto-ui-action-dropdown {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--#{$prefix}action-dropdown-gap);

  > .neeto-ui-btn {
    &:first-child {
      border-top-right-radius: var(--#{$prefix}action-dropdown-border-radius);
      border-bottom-right-radius: var(--#{$prefix}action-dropdown-border-radius);
    }
  }

  > .neeto-ui-btn.neeto-ui-btn--icon-only {
    border-top-left-radius: var(--#{$prefix}action-dropdown-border-radius);
    border-bottom-left-radius: var(--#{$prefix}action-dropdown-border-radius);
  }
}
