:root {
  // Container
  --#{$prefix}avatar-container-border-radius: var(--neeto-ui-rounded);
  --#{$prefix}avatar-container-width: 24px;
  --#{$prefix}avatar-container-height: 24px;

  // Avatar
  --#{$prefix}avatar-width: 1.5rem;
  --#{$prefix}avatar-height: 1.5rem;
  --#{$prefix}avatar-border-radius: var(--neeto-ui-rounded-full);

  // Status
  --#{$prefix}avatar-status-width: 0.4rem;
  --#{$prefix}avatar-status-height: 0.4rem;
  --#{$prefix}avatar-status-bg-color: var(--neeto-ui-white);
  --#{$prefix}avatar-status-border-width: 0.5px;
  --#{$prefix}avatar-status-border-color: rgb(var(--neeto-ui-white));
  --#{$prefix}avatar-status-border-radius: var(--neeto-ui-rounded-full);
  --#{$prefix}avatar-status-transform: translateX(-40%);
}

.neeto-ui-avatar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--#{$prefix}avatar-container-border-radius);
  position: relative;
  flex-shrink: 0;
  width: var(--#{$prefix}avatar-container-width);
  height: var(--#{$prefix}avatar-container-height);

  &--medium {
    --neeto-ui-avatar-container-width: 32px;
    --neeto-ui-avatar-container-height: 32px;
  }

  &--large {
    --neeto-ui-avatar-container-width: 40px;
    --neeto-ui-avatar-container-height: 40px;
  }

  &--xlarge {
    --neeto-ui-avatar-container-width: 64px;
    --neeto-ui-avatar-container-height: 64px;
  }

  .neeto-ui-avatar__status {
    position: absolute;
    right: 0;
    top: 0;
    width: var(--#{$prefix}avatar-status-width);
    height: var(--#{$prefix}avatar-status-width);
    background-color: var(--#{$prefix}avatar-status-bg-color);
    border: var(--#{$prefix}avatar-status-border-width) solid var(--#{$prefix}avatar-status-border-color);
    border-radius: var(--#{$prefix}avatar-status-border-radius);
    transform: var(--#{$prefix}avatar-status-transform);

    &.neeto-ui-avatar__status-medium {
      --neeto-ui-avatar-status-width: 0.465rem;
      --neeto-ui-avatar-status-height: 0.465rem;
    }

    &.neeto-ui-avatar__status-large {
      --neeto-ui-avatar-status-width: 0.563rem;
      --neeto-ui-avatar-status-height: 0.563rem;
    }

    &.neeto-ui-avatar__status-xlarge {
      --neeto-ui-avatar-status-width: 0.75rem;
      --neeto-ui-avatar-status-height: 0.75rem;
      --neeto-ui-avatar-status-transform: translateX(-65%);
    }

    &.online {
      --neeto-ui-avatar-status-bg-color: rgb(var(--neeto-ui-success-500));
    }

    &.idle {
      --neeto-ui-avatar-status-bg-color: rgb(var(--neeto-ui-warning-500));
    }

    &.offline {
      --neeto-ui-avatar-status-bg-color: rgb(var(--neeto-ui-gray-300));
    }
  }

  .neeto-ui-avatar {
    display: inline-block;
    border-radius: var(--#{$prefix}avatar-border-radius);
    width: var(--#{$prefix}avatar-width);
    height: var(--#{$prefix}avatar-height);
    object-fit: cover;

    &.hidden {
      display: none;
    }

    &.neeto-ui-avatar--medium {
      --neeto-ui-avatar-width: 2rem;
      --neeto-ui-avatar-height: 2rem;
    }

    &.neeto-ui-avatar--large {
      --neeto-ui-avatar-width: 2.5rem;
      --neeto-ui-avatar-height: 2.5rem;
    }

    &.neeto-ui-avatar--xlarge {
      --neeto-ui-avatar-width: 4rem;
      --neeto-ui-avatar-height: 4rem;
    }
  }
}
