$neeto-ui-btn-padding-x: 8px;
$neeto-ui-btn-padding-y: 6px;
$neeto-ui-btn-font-size: var(--neeto-ui-text-sm);
$neeto-ui-btn-font-weight: var(--neeto-ui-font-medium);
$neeto-ui-btn-line-height: 16px;
$neeto-ui-btn-color: rgb(var(--neeto-ui-black));
$neeto-ui-btn-border-width: 0;
$neeto-ui-btn-border-radius: var(--neeto-ui-rounded);
$neeto-ui-btn-gap: 4px;
$neeto-ui-btn-icon-size: 16px;

:root {
  --#{$prefix}btn-padding-x: #{$neeto-ui-btn-padding-x};
  --#{$prefix}btn-padding-y: #{$neeto-ui-btn-padding-y};
  --#{$prefix}btn-font-family: #{$neeto-ui-font-family};
  @include rfs($neeto-ui-btn-font-size, --#{$prefix}btn-font-size);
  --#{$prefix}btn-font-weight: #{$neeto-ui-btn-font-weight};
  --#{$prefix}btn-line-height: #{$neeto-ui-btn-line-height};
  --#{$prefix}btn-color: $neeto-ui-btn-color;
  --#{$prefix}btn-bg: transparent;
  --#{$prefix}btn-border-width: #{$neeto-ui-btn-border-width};
  --#{$prefix}btn-border-color: transparent;
  --#{$prefix}btn-border-radius: #{$neeto-ui-btn-border-radius};
  --#{$prefix}btn-gap: #{$neeto-ui-btn-gap};
  --#{$prefix}btn-icon-size: #{$neeto-ui-btn-icon-size};
}

.neeto-ui-btn {
  position: relative;
  display: inline-flex !important;
  align-items: center;
  padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
  gap: var(--#{$prefix}btn-gap);

  font-size: var(--#{$prefix}btn-font-size);
  font-weight: var(--#{$prefix}btn-font-weight);
  line-height: var(--#{$prefix}btn-line-height);
  transition: var(--neeto-ui-transition);
  border-width: var(--#{$prefix}btn-border-width);
  border-color: var(--#{$prefix}btn-border-color);
  border-radius: var(--#{$prefix}btn-border-radius);

  outline: none;
  user-select: none;
  min-width: 0;
  cursor: pointer;

  &.neeto-ui-btn--icon-only {
    --neeto-ui-btn-padding-x: 6px;
    --neeto-ui-btn-padding-y: 6px;

    .neeto-ui-btn__icon,
    .neeto-ui-btn__spinner svg {
      pointer-events: none;
      width: var(--#{$prefix}btn-icon-size) !important;
      height: var(--#{$prefix}btn-icon-size) !important;
    }
  }

  // size - medium - 32px
  &--size-medium {
    --neeto-ui-btn-padding-x: 16px;
    --neeto-ui-btn-padding-y: 8px;
    --neeto-ui-btn-gap: 8px;
    --neeto-ui-btn-icon-size: 20px;
  }

  // size - large - 40px
  &--size-large {
    --neeto-ui-btn-font-size: var(--neeto-ui-text-base);
    --neeto-ui-btn-padding-x: 20px;
    --neeto-ui-btn-padding-y: 12px;
    --neeto-ui-btn-gap: 10px;
    --neeto-ui-btn-icon-size: 24px;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.neeto-ui-btn--icon-left {
  flex-direction: row-reverse;
}

.neeto-ui-btn__icon,
.neeto-ui-btn__spinner,
.neeto-ui-btn__spinner-wrapper {
  pointer-events: none;
  color: inherit;
  svg {
    color: inherit !important;
  }
}

// width
.neeto-ui-btn--width-full {
  width: 100% !important;
  justify-content: center;
}

// styles
.neeto-ui-btn--style {
  &-primary {
    color: rgb(var(--neeto-ui-white));
    background-color: rgb(var(--neeto-ui-primary-500));

    &:hover:not(:disabled),
    &:active {
      color: rgb(var(--neeto-ui-white));
      background-color: rgb(var(--neeto-ui-primary-600));
    }

    &:focus {
      color: rgb(var(--neeto-ui-white));
      box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%);
    }

    &:focus-visible {
      color: rgb(var(--neeto-ui-white));

      outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
      outline-offset: 1px;
      box-shadow: none;
    }
  }

  &-secondary {
    color: rgb(var(--neeto-ui-black));
    background-color: rgb(var(--neeto-ui-gray-200));

    &:hover:not(:disabled),
    &:active {
      color: rgb(var(--neeto-ui-black));
      background-color: rgb(var(--neeto-ui-gray-300));
    }

    &:focus {
      color: rgb(var(--neeto-ui-black));
      box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-800), 25%);
    }

    &:focus-visible {
      color: rgb(var(--neeto-ui-black));

      outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
      outline-offset: 1px;
      box-shadow: none;
    }
  }

  &-text {
    color: rgb(var(--neeto-ui-gray-800));

    &:hover:not(:disabled),
    &:active {
      color: rgb(var(--neeto-ui-gray-800));
      background-color: rgb(var(--neeto-ui-gray-200));
    }

    &:focus {
      color: rgb(var(--neeto-ui-gray-800));
      box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-800), 15%);
    }

    &:focus-visible {
      color: rgb(var(--neeto-ui-gray-800));

      outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
      outline-offset: 1px;
      box-shadow: none;
    }
  }

  &-link {
    color: rgb(var(--neeto-ui-primary-800));
    padding: 0;

    &:hover:not(:disabled),
    &:active,
    &:focus {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.8;
    }

    &:focus-visible {
      outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
      outline-offset: 1px;
      box-shadow: none;
    }
  }

  &-danger {
    color: rgb(var(--neeto-ui-white));
    background-color: rgb(var(--neeto-ui-error-500));

    &:hover:not(:disabled),
    &:active {
      color: rgb(var(--neeto-ui-white));
      background-color: rgb(var(--neeto-ui-error-600));
    }

    &:focus {
      color: rgb(var(--neeto-ui-white));
      box-shadow: 0 0 0 3px rgba(var(--neeto-ui-error-500), 15%);
    }

    &:focus-visible {
      color: rgb(var(--neeto-ui-white));

      outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
      outline-offset: 1px;
      box-shadow: none;
    }
  }

  &-danger-text {
    color: rgb(var(--neeto-ui-error-800));

    &:hover:not(:disabled),
    &:active {
      color: rgb(var(--neeto-ui-error-800));
      background-color: rgb(var(--neeto-ui-error-100));
    }

    &:focus {
      color: rgb(var(--neeto-ui-error-800));
      box-shadow: 0 0 0 3px rgba(var(--neeto-ui-error-500), 15%);
    }

    &:focus-visible {
      color: rgb(var(--neeto-ui-error-800));

      outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
      outline-offset: 1px;
      box-shadow: none;
    }
  }
}
