:root {
  --#{$prefix}btn-padding-x: 8px;
  --#{$prefix}btn-padding-y: 6px;
  @include rfs(var(--neeto-ui-text-sm), --#{$prefix}btn-font-size);
  --#{$prefix}btn-font-weight: var(--neeto-ui-font-medium);
  --#{$prefix}btn-line-height: 16px;
  --#{$prefix}btn-color: rgb(var(--neeto-ui-black));
  --#{$prefix}btn-bg-color: transparent;
  --#{$prefix}btn-border-width: 0;
  --#{$prefix}btn-border-color: transparent;
  --#{$prefix}btn-border-radius: var(--neeto-ui-rounded);
  --#{$prefix}btn-gap: 4px;
  --#{$prefix}btn-icon-size: 16px;
  --#{$prefix}btn-box-shadow: none;
  --#{$prefix}btn-outline: none;

  // Disabled
  --#{$prefix}btn-disabled-opacity: 0.5;

  // Hover
  --#{$prefix}btn-hover-color: rgb(var(--neeto-ui-black));
  --#{$prefix}btn-hover-bg-color: transparent;
  --#{$prefix}btn-hover-box-shadow: none;
  --#{$prefix}btn-hover-opacity: 1;

  // Focus
  --#{$prefix}btn-focus-color: rgb(var(--neeto-ui-black));
  --#{$prefix}btn-focus-box-shadow: none;
  --#{$prefix}btn-focus-opacity: 1;

  // Focus Visible
  --#{$prefix}btn-focus-visible-color: rgb(var(--neeto-ui-black));
  --#{$prefix}btn-focus-visible-outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
  --#{$prefix}btn-focus-visible-outline-offset: 1px;
  --#{$prefix}btn-focus-visible-box-shadow: none;
}

.neeto-ui-btn {
  position: relative;
  display: inline-flex !important;
  align-items: center;
  padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
  gap: var(--#{$prefix}btn-gap);

  color: var(--#{$prefix}btn-color);
  background-color: var(--#{$prefix}btn-bg-color);
  font-size: var(--#{$prefix}btn-font-size);
  font-weight: var(--#{$prefix}btn-font-weight);
  line-height: var(--#{$prefix}btn-line-height);
  transition: var(--neeto-ui-transition);
  border-width: var(--#{$prefix}btn-border-width);
  border-color: var(--#{$prefix}btn-border-color);
  border-radius: var(--#{$prefix}btn-border-radius);
  box-shadow: var(--#{$prefix}btn-box-shadow);
  outline: var(--#{$prefix}btn-outline);

  user-select: none;
  min-width: 0;
  cursor: pointer;

  &.neeto-ui-btn--icon-only {
    --neeto-ui-btn-padding-x: 6px;
    --neeto-ui-btn-padding-y: 6px;

    .neeto-ui-btn__icon,
    .neeto-ui-btn__spinner svg {
      pointer-events: none;
      width: var(--#{$prefix}btn-icon-size) !important;
      height: var(--#{$prefix}btn-icon-size) !important;
    }
  }

  // size - medium - 32px
  &--size-medium {
    --neeto-ui-btn-padding-x: 16px;
    --neeto-ui-btn-padding-y: 8px;
    --neeto-ui-btn-gap: 8px;
    --neeto-ui-btn-icon-size: 20px;
  }

  // size - large - 40px
  &--size-large {
    --neeto-ui-btn-font-size: var(--neeto-ui-text-base);
    --neeto-ui-btn-padding-x: 20px;
    --neeto-ui-btn-padding-y: 12px;
    --neeto-ui-btn-gap: 10px;
    --neeto-ui-btn-icon-size: 24px;

    &.neeto-ui-btn--icon-only {
      --neeto-ui-btn-padding-x: 8px;
      --neeto-ui-btn-padding-y: 8px;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover:not(:disabled),
  &:active {
    color: var(--#{$prefix}btn-hover-color);
    background-color: var(--#{$prefix}btn-hover-bg-color);
  }

  &:focus {
    color: var(--#{$prefix}btn-focus-color);
    box-shadow: var(--#{$prefix}btn-focus-box-shadow);
  }

  &:focus-visible {
    color: var(--#{$prefix}btn-focus-visible-color);

    outline: var(--#{$prefix}btn-focus-visible-outline);
    outline-offset: var(--#{$prefix}btn-focus-visible-outline-offset);
    box-shadow: var(--#{$prefix}btn-focus-visible-box-shadow);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: var(--#{$prefix}btn-disabled-opacity);
  }
}

.neeto-ui-btn--icon-left {
  flex-direction: row-reverse;
}

.neeto-ui-btn__icon,
.neeto-ui-btn__spinner,
.neeto-ui-btn__spinner-wrapper {
  pointer-events: none;
  color: inherit;
  svg {
    color: inherit !important;
  }
}

// width
.neeto-ui-btn--width-full {
  width: 100% !important;
  justify-content: center;
}

// styles
.neeto-ui-btn--style {
  &-primary {
    --neeto-ui-btn-color: rgb(var(--neeto-ui-white));
    --neeto-ui-btn-bg-color: rgb(var(--neeto-ui-primary-500));
    --neeto-ui-btn-hover-color: rgb(var(--neeto-ui-white));
    --neeto-ui-btn-hover-bg-color: rgb(var(--neeto-ui-primary-600));
    --neeto-ui-btn-focus-color: rgb(var(--neeto-ui-white));
    --neeto-ui-btn-focus-box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%);
    --neeto-ui-btn-focus-visible-color: rgb(var(--neeto-ui-white));
  }

  &-secondary {
    --neeto-ui-btn-color: rgb(var(--neeto-ui-black));
    --neeto-ui-btn-bg-color: rgb(var(--neeto-ui-gray-200));
    --neeto-ui-btn-hover-color: rgb(var(--neeto-ui-black));
    --neeto-ui-btn-hover-bg-color: rgb(var(--neeto-ui-gray-300));
    --neeto-ui-btn-focus-color: rgb(var(--neeto-ui-black));
    --neeto-ui-btn-focus-box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-800), 25%);
    --neeto-ui-btn-focus-visible-color: rgb(var(--neeto-ui-black));
  }

  &-text {
    --neeto-ui-btn-color: rgb(var(--neeto-ui-gray-800));
    --neeto-ui-btn-hover-color: rgb(var(--neeto-ui-gray-800));
    --neeto-ui-btn-hover-bg-color: rgb(var(--neeto-ui-gray-200));
    --neeto-ui-btn-focus-color: rgb(var(--neeto-ui-gray-800));
    --neeto-ui-btn-focus-box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-800), 15%);
    --neeto-ui-btn-focus-visible-color: rgb(var(--neeto-ui-gray-800));
  }

  &-link {
    --neeto-ui-btn-padding-x: 0px;
    --neeto-ui-btn-padding-y: 0px;
    --neeto-ui-btn-color: rgb(var(--neeto-ui-primary-800));
    --neeto-ui-btn-hover-color: rgb(var(--neeto-ui-primary-800));
    --neeto-ui-btn-hover-opacity: 0.8;
    --neeto-ui-btn-focus-color: rgb(var(--neeto-ui-primary-800));
    --neeto-ui-btn-focus-opacity: 0.8;
    --neeto-ui-btn-focus-visible-color: rgb(var(--neeto-ui-primary-800));;
  }

  &-danger {
    --neeto-ui-btn-color: rgb(var(--neeto-ui-white));
    --neeto-ui-btn-bg-color: rgb(var(--neeto-ui-error-500));
    --neeto-ui-btn-hover-color: rgb(var(--neeto-ui-white));
    --neeto-ui-btn-hover-bg-color: rgb(var(--neeto-ui-error-600));
    --neeto-ui-btn-focus-color: rgb(var(--neeto-ui-white));
    --neeto-ui-btn-focus-box-shadow: 0 0 0 3px rgba(var(--neeto-ui-error-500), 15%);
    --neeto-ui-btn-focus-visible-color: rgb(var(--neeto-ui-white));
  }

  &-danger-text {
    --neeto-ui-btn-color: rgb(var(--neeto-ui-error-800));
    --neeto-ui-btn-hover-color: rgb(var(--neeto-ui-error-800));
    --neeto-ui-btn-hover-bg-color: rgb(var(--neeto-ui-error-100));
    --neeto-ui-btn-focus-color: rgb(var(--neeto-ui-error-800));
    --neeto-ui-btn-focus-box-shadow: 0 0 0 3px rgba(var(--neeto-ui-error-500), 15%);
    --neeto-ui-btn-focus-visible-color: rgb(var(--neeto-ui-error-800));
  }
}
