:root {
  --#{$prefix}checkbox-size: 16px;
  --#{$prefix}checkbox-color: rgb(var(--neeto-ui-primary-500));
  --#{$prefix}checkbox-border-width: 2px;
  --#{$prefix}checkbox-border-color: rgb(var(--neeto-ui-gray-400));
  --#{$prefix}checkbox-border-radius: var(--neeto-ui-rounded-sm);

  // Disabled
  --#{$prefix}checkbox-disabled-opacity: 0.5;

  // Hover
  --#{$prefix}checkbox-hover-border-color: rgb(var(--neeto-ui-gray-500));

  // Focus
  --#{$prefix}checkbox-focus-outline: transparent;
  --#{$prefix}checkbox-focus-outline-offset: 0px;

  // Focus Visible
  --#{$prefix}checkbox-focus-visible-outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
  --#{$prefix}checkbox-focus-visible-outline-offset: 1px;
  --#{$prefix}checkbox-focus-visible-box-shadow: none;

  // Checked
  --#{$prefix}checkbox-checked-border-color: rgb(var(--neeto-ui-primary-500));

  // Margin
  --#{$prefix}checkbox-label-margin: 8px;
}

.neeto-ui-checkbox__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;

  .neeto-ui-checkbox__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .neeto-ui-label {
      margin-left: var(--#{$prefix}checkbox-label-margin);
    }

    .neeto-ui-checkbox[type="checkbox"] {
      width: var(--#{$prefix}checkbox-size);
      height: var(--#{$prefix}checkbox-size);
      color: var(--#{$prefix}checkbox-color);
      border: var(--#{$prefix}checkbox-border-width) solid var(--#{$prefix}checkbox-border-color);
      border-radius: var(--#{$prefix}checkbox-border-radius);

      &:not(:disabled) {
        cursor: pointer;
      }

      &:hover:not(:disabled, :checked) {
        border-color: var(--#{$prefix}checkbox-hover-border-color);
      }

      &:checked {
        border-color: var(--#{$prefix}checkbox-checked-border-color);
        background-size: calc(var(--#{$prefix}checkbox-size) * 0.6875) calc(var(--#{$prefix}checkbox-size) / 2);
      }

      &:disabled {
        opacity: var(--#{$prefix}checkbox-disabled-opacity);
        cursor: not-allowed;
      }

      &:focus {
        outline: var(--#{$prefix}checkbox-focus-outline);
        outline-offset: var(--#{$prefix}checkbox-focus-outline-offset);
      }

      &:focus-visible {
        outline: var(--#{$prefix}checkbox-focus-visible-outline);
        outline-offset: var(--#{$prefix}checkbox-focus-visible-outline-offset);
        box-shadow: var(--#{$prefix}checkbox-focus-visible-box-shadow);
      }
    }
  }
}

// ant design checkbox override

.ant-checkbox {
  width: var(--#{$prefix}checkbox-size);
  height: var(--#{$prefix}checkbox-size);

  [type="checkbox"] {
    width: var(--#{$prefix}checkbox-size);
    height: var(--#{$prefix}checkbox-size);
    color: var(--#{$prefix}checkbox-color);
    border: var(--#{$prefix}checkbox-border-width) solid var(--#{$prefix}checkbox-border-color);
    border-radius: var(--#{$prefix}checkbox-border-radius);
    opacity: 1;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:hover:not(:disabled, :checked) {
      border-color: var(--#{$prefix}checkbox-hover-border-color);
    }

    &:checked {
      border-color: var(--#{$prefix}checkbox-checked-border-color);
      background-size: calc(var(--#{$prefix}checkbox-size) * 0.6875);
    }

    &:disabled {
      opacity: var(--#{$prefix}checkbox-disabled-opacity);
      cursor: not-allowed;
    }

    &:focus {
      outline: var(--#{$prefix}checkbox-focus-outline);
      outline-offset: var(--#{$prefix}checkbox-focus-outline-offset);
    }

    &:focus-visible {
      outline: var(--#{$prefix}checkbox-focus-visible-outline);
      outline-offset: var(--#{$prefix}checkbox-focus-visible-outline-offset);
      box-shadow: var(--#{$prefix}checkbox-focus-visible-box-shadow);
    }
  }

  .ant-checkbox-inner {
    display: none;
  }
}
