.neeto-ui-checkbox__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;

  .neeto-ui-checkbox__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .neeto-ui-label {
      margin-left: 8px;
    }

    .neeto-ui-checkbox[type="checkbox"] {
      width: 16px;
      height: 16px;
      color: rgb(var(--neeto-ui-primary-500));
      border: 2px solid rgb(var(--neeto-ui-gray-400));
      border-radius: var(--neeto-ui-rounded-sm);

      &:not(:disabled) {
        cursor: pointer;
      }

      &:hover:not(:disabled, :checked) {
        border-color: rgb(var(--neeto-ui-gray-500));
      }

      &:checked {
        border: none !important;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:focus {
        outline: transparent;
      }

      &:focus-visible {
        outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
        outline-offset: 1px;
        box-shadow: none;
      }
    }
  }
}

// ant design checkbox override

.ant-checkbox{
  [type="checkbox"] {
    width: 16px;
    height: 16px;
    color: rgb(var(--neeto-ui-primary-500));
    border: 2px solid rgb(var(--neeto-ui-gray-400));
    border-radius: var(--neeto-ui-rounded-sm);

    &:not(:disabled) {
      cursor: pointer;
    }

    &:hover:not(:disabled, :checked) {
      border-color: rgb(var(--neeto-ui-gray-500));
    }

    &:checked {
      border: none !important;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:focus {
      outline: transparent;
    }

    &:focus-visible {
      outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
      outline-offset: 1px;
      box-shadow: none;
    }
  }
  .ant-checkbox-inner{
    display: none;
  }
}



