.neeto-ui-label {
  font-size: var(--neeto-ui-text-sm);
  line-height: 1;
  color: rgb(var(--neeto-ui-black));
  font-weight: var(--neeto-ui-font-medium);
  &__help-icon-wrap {
    margin-left: 4px;
  }
}

.neeto-ui-header__search-input{
  width: 288px;
}
