:root {
  // Date Input
  @include rfs(var(--neeto-ui-text-sm), --#{$prefix}date-input-font-size);
  --#{$prefix}date-input-color: rgb(var(--neeto-ui-gray-800));
  --#{$prefix}date-input-bg-color: rgb(var(--neeto-ui-white));
  --#{$prefix}date-input-border-width: 1px;
  --#{$prefix}date-input-border-color: rgb(var(--neeto-ui-gray-400));
  --#{$prefix}date-input-border-radius: var(--neeto-ui-rounded);
  --#{$prefix}date-input-line-height: 1.2;
  --#{$prefix}date-input-padding-x: 0px;
  --#{$prefix}date-input-padding-y: 0px;
  --#{$prefix}date-input-box-shadow: 0px;
  --#{$prefix}date-input-active-bar-bg-color: rgb(var(--neeto-ui-primary-500));

  // Hover
  --#{$prefix}date-input-hover-border-color: rgb(var(--neeto-ui-gray-800));

  // Focus
  --#{$prefix}date-input-focus-outline-color: transparent;
  --#{$prefix}date-input-focus-box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%);
  --#{$prefix}date-input-focus-border-color: rgb(var(--neeto-ui-primary-500));

  // Prefix & Suffix
  --#{$prefix}date-input-prefix-suffix-color: rgb(var(--neeto-ui-gray-700));
  --#{$prefix}date-input-prefix-suffix-size: 16px;
  --#{$prefix}date-input-focus-prefix-suffix-color: rgb(var(--neeto-ui-gray-700));

  // Cell
  @include rfs(var(--neeto-ui-text-sm), --#{$prefix}date-input-cell-font-size);
  --#{$prefix}date-input-cell-height: 32px;
  --#{$prefix}date-input-cell-border-radius: var(--neeto-ui-rounded-sm);
  --#{$prefix}date-input-cell-color: rgb(var(--neeto-ui-gray-800));
  --#{$prefix}date-input-cell-hover-bg-color: rgb(var(--neeto-ui-gray-200));
  --#{$prefix}date-input-cell-border-width: 1px;
  --#{$prefix}date-input-cell-border-color: rgb(var(--neeto-ui-gray-400));
  --#{$prefix}date-input-today-cell-border-width: 1px;
  --#{$prefix}date-input-today-cell-border-color: rgb(var(--neeto-ui-primary-500));
  --#{$prefix}date-input-selected-cell-color: rgb(var(--neeto-ui-white));
  --#{$prefix}date-input-selected-cell-bg-color: rgb(var(--neeto-ui-primary-500));
  --#{$prefix}date-input-cell-range-bg-color: rgb(var(--neeto-ui-gray-200));
  --#{$prefix}date-input-cell-range-hover-bg-color: rgb(var(--neeto-ui-gray-400));

  // Footer
  --#{$prefix}date-input-footer-bg-color: rgb(var(--neeto-ui-gray-100));
  --#{$prefix}date-input-footer-btn-padding-x: 8px;
  --#{$prefix}date-input-footer-btn-padding-y: 5px;
  --#{$prefix}date-input-footer-btn-gap: 4px;
  @include rfs(var(--neeto-ui-text-xs), --#{$prefix}date-input-footer-btn-font-size);
  --#{$prefix}date-input-footer-btn-font-weight: var(--neeto-ui-font-medium);
  --#{$prefix}date-input-footer-btn-line-height: 16px;
  --#{$prefix}date-input-footer-btn-border-radius: var(--neeto-ui-rounded);
  --#{$prefix}date-input-footer-today-now-btn-color: rgb(var(--neeto-ui-gray-800));
  --#{$prefix}date-input-footer-today-now-btn-hover-color: rgb(var(--neeto-ui-gray-800));
  --#{$prefix}date-input-footer-today-now-btn-hover-bg-color: rgb(var(--neeto-ui-gray-200));
  --#{$prefix}date-input-footer-ok-btn-color: rgb(var(--neeto-ui-white));
  --#{$prefix}date-input-footer-ok-btn-bg-color: rgb(var(--neeto-ui-primary-500));
  --#{$prefix}date-input-footer-ok-btn-border-color: rgb(var(--neeto-ui-primary-500));
  --#{$prefix}date-input-footer-ok-btn-hover-color: rgb(var(--neeto-ui-white));
  --#{$prefix}date-input-footer-ok-btn-hover-bg-color: rgb(var(--neeto-ui-primary-600));
  --#{$prefix}date-input-footer-ok-btn-disabled-opacity: 0.5;

  // Date Panel
  --#{$prefix}date-panel-width: 320px;
  --#{$prefix}date-panel-content-width: 272px;
  --#{$prefix}date-panel-content-header-color: rgb(var(--neeto-ui-gray-600));
  @include rfs(var(--neeto-ui-text-xs), --#{$prefix}date-panel-content-header-font-size);


  // Date Panel Dropdown
  --#{$prefix}date-panel-dropdown-padding-y: 2px;

  // Date Panel Container
  --#{$prefix}date-panel-container-border-width: 1px;
  --#{$prefix}date-panel-container-border-color: rgb(var(--neeto-ui-gray-400));
  --#{$prefix}date-panel-container-box-shadow: var(--neeto-ui-shadow-lg);
  --#{$prefix}date-panel-container-border-radius: var(--neeto-ui-rounded-xl);

  // Date Panel Header
  --#{$prefix}date-panel-header-color: rgb(var(--neeto-ui-gray-800));
  --#{$prefix}date-panel-header-min-height: 68px;
  --#{$prefix}date-panel-header-padding-top: 12px;
  --#{$prefix}date-panel-header-padding-bottom: 0px;
  --#{$prefix}date-panel-header-padding-x: 24px;
  --#{$prefix}date-panel-header-border-bottom-width: 0px;
  @include rfs(var(--neeto-ui-text-base), --#{$prefix}date-panel-header-nav-btn-font-size);
  --#{$prefix}date-panel-header-nav-btn-font-weight: var(--neeto-ui-font-semibold);
  --#{$prefix}date-panel-header-nav-btn-padding-right: 24px;
  --#{$prefix}date-panel-header-btn-color: rgb(var(--neeto-ui-gray-800));

  // Time Panel
  --#{$prefix}time-panel-header-padding-top: 16px;
  --#{$prefix}time-panel-header-padding-bottom: 8px;
  --#{$prefix}time-panel-header-padding-x: 16px;
  @include rfs(var(--neeto-ui-text-xs), --#{$prefix}time-panel-header-column-font-size);
  --#{$prefix}time-panel-header-column-line-height: 16px;
  --#{$prefix}time-panel-header-column-color: rgb(var(--neeto-ui-gray-600));
  --#{$prefix}time-panel-header-column-gap: 12px;
  --#{$prefix}time-panel-body-gap: 12px;
  --#{$prefix}time-panel-body-padding-x: 16px;
  --#{$prefix}time-panel-column-width: 62px;
  --#{$prefix}time-panel-column-border-left-color: rgb(var(--neeto-ui-gray-200));
  --#{$prefix}time-panel-cell-padding-x: 0px;
  --#{$prefix}time-panel-cell-color: rgb(var(--neeto-ui-gray-800));
  --#{$prefix}time-panel-now-btn-margin-bottom: 22px;

  // Time Input
  @include rfs(var(--neeto-ui-text-sm), --#{$prefix}time-input-font-size);
  --#{$prefix}time-input-color: rgb(var(--neeto-ui-gray-800));
  --#{$prefix}time-input-bg-color: rgb(var(--neeto-ui-white));
  --#{$prefix}time-input-border-width: 1px;
  --#{$prefix}time-input-border-color: rgb(var(--neeto-ui-gray-400));
  --#{$prefix}time-input-border-radius: var(--neeto-ui-rounded);
  --#{$prefix}time-input-line-height: 1.2;
  --#{$prefix}time-input-padding-x: 0px;
  --#{$prefix}time-input-padding-y: 0px;
  --#{$prefix}time-input-box-shadow: 0px;

  // Hover
  --#{$prefix}time-input-hover-border-color: rgb(var(--neeto-ui-gray-800));

  // Focus
  --#{$prefix}time-input-focus-outline-color: transparent;
  --#{$prefix}time-input-focus-box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%);
  --#{$prefix}time-input-focus-border-color: rgb(var(--neeto-ui-primary-500));

  // Prefix & Suffix
  --#{$prefix}time-input-prefix-suffix-color: rgb(var(--neeto-ui-gray-700));
  --#{$prefix}time-input-prefix-suffix-size: 16px;
  --#{$prefix}time-input-focus-prefix-suffix-color: rgb(var(--neeto-ui-gray-700));
}

.neeto-ui-date-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--#{$prefix}date-input-font-size);
  transition: var(--neeto-ui-transition);
  color: var(--#{$prefix}date-input-color);
  background-color: var(--#{$prefix}date-input-bg-color);
  border: var(--#{$prefix}date-input-border-width) solid var(--#{$prefix}date-input-border-color);
  border-radius: var(--#{$prefix}date-input-border-radius);
  overflow: hidden;
  line-height: var(--#{$prefix}date-input-line-height);
  padding: var(--#{$prefix}date-input-padding-y) var(--#{$prefix}date-input-padding-x);
  box-shadow: var(--#{$prefix}date-input-box-shadow);

  &.neeto-ui-date-input--large {
    --neeto-ui-date-input-padding-x: 12px;
    --neeto-ui-date-input-padding-y: 8px;
  }

  &.neeto-ui-date-input--medium {
    --neeto-ui-date-input-padding-x: 8px;
    --neeto-ui-date-input-padding-y: 4px;
  }

  &.neeto-ui-date-input--small {
    --neeto-ui-date-input-padding-x: 8px;
    --neeto-ui-date-input-padding-y: 2px;
  }

  .ant-picker-input > input {
    color: var(--#{$prefix}date-input-color);
  }

  &:hover:not(.neeto-ui-date-input--naked, .neeto-ui-date-input--disabled, .ant-picker-focused) {
    border-color: var(--#{$prefix}date-input-hover-border-color);
  }

  &.neeto-ui-date-input--error:not(.neeto-ui-date-input--naked) {
    --neeto-ui-date-input-border-color: rgb(var(--neeto-ui-error-500));
    --neeto-ui-date-input-hover-border-color: rgb(var(--neeto-ui-error-500));
    --neeto-ui-date-input-focus-border-color: rgb(var(--neeto-ui-error-500));
    --neeto-ui-date-input-focus-box-shadow: 0 0 0 3px rgb(var(--neeto-ui-error-100));
  }

  &.neeto-ui-date-input--disabled {
    --neeto-ui-date-input-bg-color: rgb(var(--neeto-ui-gray-100));
    cursor: not-allowed;

    input {
      cursor: not-allowed;
    }
  }

  .ant-picker-suffix {
    color: var(--#{$prefix}date-input-prefix-suffix-color);
  }

  &.ant-picker-focused:not(.neeto-ui-date-input--naked) {
    border-color: var(--#{$prefix}date-input-focus-border-color) !important;
    box-shadow: var(--#{$prefix}date-input-focus-box-shadow) !important;

    .ant-picker-suffix {
      color: var(--#{$prefix}date-input-focus-prefix-suffix-color);
    }
  }

  &.neeto-ui-date-input--naked {
    --neeto-ui-date-input-border-width: 0px;
  }

  .ant-picker-clear {
    background-color: transparent;

    svg {
      width: var(--#{$prefix}date-input-prefix-suffix-size);
      height: var(--#{$prefix}date-input-prefix-suffix-size);
      color: var(--#{$prefix}date-input-prefix-suffix-color);
    }
  }

  .ant-picker-range-arrow {
    display: none !important;
  }

  &.ant-picker-range.ant-picker-focused .ant-picker-active-bar {
    background: var(--#{$prefix}date-input-active-bar-bg-color);
  }

  &.ant-picker-range .ant-picker-clear {
    right: 8px;
  }
}

// Time Input

.neeto-ui-time-input {
  font-size: var(--#{$prefix}time-input-font-size);
  color: var(--#{$prefix}time-input-color);
  background-color: var(--#{$prefix}time-input-bg-color);
  border: var(--#{$prefix}time-input-border-width) solid var(--#{$prefix}time-input-border-color);
  border-radius: var(--#{$prefix}time-input-border-radius);
  line-height: var(--#{$prefix}time-input-line-height);
  padding: var(--#{$prefix}time-input-padding-y) var(--#{$prefix}time-input-padding-x);
  box-shadow: var(--#{$prefix}time-input-box-shadow);

  &.neeto-ui-time-input--large {
    --neeto-ui-time-input-padding-x: 12px;
    --neeto-ui-time-input-padding-y: 8px;
  }

  &.neeto-ui-time-input--medium {
    --neeto-ui-time-input-padding-x: 8px;
    --neeto-ui-time-input-padding-y: 4px;
  }

  &.neeto-ui-time-input--small {
    --neeto-ui-time-input-padding-x: 8px;
    --neeto-ui-time-input-padding-y: 2px;
  }

  &:hover:not(.neeto-ui-time-input--naked, .neeto-ui-time-input--disabled) {
    border-color: var(--#{$prefix}time-input-hover-border-color);
  }

  &.neeto-ui-time-input--error {
    --neeto-ui-time-input-border-color: rgb(var(--neeto-ui-error-500));
    --neeto-ui-time-input-hover-border-color: rgb(var(--neeto-ui-error-500));
    --neeto-ui-time-input-focus-border-color: rgb(var(--neeto-ui-error-500));
    --neeto-ui-time-input-focus-box-shadow: 0 0 0 3px rgb(var(--neeto-ui-error-100));
  }

  &.neeto-ui-time-input--disabled {
    --neeto-ui-time-input-bg-color: rgb(var(--neeto-ui-gray-100));
    cursor: not-allowed;

    input {
      cursor: not-allowed;
    }
  }

  .ant-picker-suffix {
    color: var(--#{$prefix}time-input-prefix-suffix-color);
  }

  &.ant-picker-focused:not(.neeto-ui-time-input--naked) {
    border-color: var(--#{$prefix}time-input-focus-border-color) !important;
    box-shadow: var(--#{$prefix}time-input-focus-box-shadow) !important;

    .ant-picker-suffix {
      color: var(--#{$prefix}time-input-focus-prefix-suffix-color);
    }
  }

  &.neeto-ui-time-input--naked {
    --neeto-ui-time-input-border-width: 0px;
  }

  .ant-picker-clear {
    background-color: transparent;

    svg {
      width: var(--#{$prefix}time-input-prefix-suffix-size);
      height: var(--#{$prefix}time-input-prefix-suffix-size);
      color: var(--#{$prefix}time-input-prefix-suffix-color);
    }
  }

  .ant-picker-range-arrow {
    display: none !important;
  }
}

.neeto-ui-date-time-dropdown {
  .ant-picker-time-panel {
    .ant-picker-time-panel-column {
      & > li.ant-picker-time-panel-cell-selected {
        .ant-picker-time-panel-cell-inner {
          background: var(--#{$prefix}date-input-selected-cell-bg-color);
          color: var(--#{$prefix}date-input-selected-cell-color);
        }
      }
    }
  }

  .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
  .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
    .ant-picker-cell-inner {
    background-color: var(--#{$prefix}date-input-cell-hover-bg-color);
  }

  .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell:not(.ant-picker-time-panel-cell-selected, .ant-picker-time-panel-cell-disabled)
    .ant-picker-time-panel-cell-inner {
    color: var(--#{$prefix}date-input-cell-color);

    &:hover {
      background-color: var(--#{$prefix}date-input-cell-hover-bg-color);
    }
  }

  .ant-picker-footer {
    border-top: 0 !important;
    border-bottom: 0 !important;
    background: var(--#{$prefix}date-input-footer-bg-color);
  }
}

.neeto-ui-date-time-dropdown {
  padding-top: var(--#{$prefix}date-panel-dropdown-padding-y);
  padding-bottom: var(--#{$prefix}date-panel-dropdown-padding-y);
  z-index: calc(var(--neeto-ui-modal-z-index) + 1);

  .ant-picker-panel {
    .ant-picker-header {
      .ant-picker-header-view {
        color: var(--#{$prefix}date-panel-header-color);

        button {
          &:hover {
            color: var(--#{$prefix}date-panel-header-btn-color);
          }
        }
      }
    }

    .ant-picker-body {
      .ant-picker-content {
        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-today {
          .ant-picker-cell-inner {
            &::before {
              border: var(--#{$prefix}date-input-today-cell-border-width) solid var(--#{$prefix}date-input-today-cell-border-color);
            }
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view {
          &::after {
            border: var(--#{$prefix}date-input-cell-border-width) solid var(--#{$prefix}date-input-cell-border-width);
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-range-start,
        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-range-end {
          &::before {
            background: var(--#{$prefix}date-input-cell-range-bg-color);
          }

          .ant-picker-cell-inner {
            background: var(--#{$prefix}date-input-selected-cell-bg-color);
            color: var(--#{$prefix}date-input-selected-cell-color);
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range {
          &::before {
            background: var(--#{$prefix}date-input-cell-range-bg-color);
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover,
        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start,
        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end {
          &::before {
            background: var(--#{$prefix}date-input-cell-range-hover-bg-color);
          }

          .ant-picker-cell-inner {
            &::after {
              background: var(--#{$prefix}date-input-cell-range-hover-bg-color);
            }
          }
        }
      }
    }
  }

  .ant-picker-footer {
    .ant-picker-today-btn,
    .ant-picker-now-btn {
      position: relative;
      display: inline-flex !important;
      align-items: center;
      padding: var(--#{$prefix}date-input-footer-btn-padding-y) var(--#{$prefix}date-input-footer-btn-padding-x);
      gap: var(--#{$prefix}date-input-footer-btn-gap);
      color: var(--#{$prefix}date-input-footer-today-now-btn-color);
      font-size: var(--#{$prefix}date-input-footer-btn-font-size);
      font-weight: var(--#{$prefix}date-input-footer-btn-font-weight);
      line-height: var(--#{$prefix}date-input-footer-btn-line-height);
      transition: var(--neeto-ui-transition);
      border-radius: var(--#{$prefix}date-input-footer-btn-border-radius);
      height: auto;

      &:hover {
        color: var(--#{$prefix}date-input-footer-today-now-btn-hover-color);
        background-color: var(--#{$prefix}date-input-footer-today-now-btn-hover-bg-color);
      }
    }

    .ant-picker-ok {
      button {
        position: relative;
        display: inline-flex !important;
        align-items: center;
        padding: var(--#{$prefix}date-input-footer-btn-padding-y) var(--#{$prefix}date-input-footer-btn-padding-x);
        gap: var(--#{$prefix}date-input-footer-btn-gap);
        color: var(--#{$prefix}date-input-footer-ok-btn-color);
        background: var(--#{$prefix}date-input-footer-ok-btn-bg-color);
        border-color: var(--#{$prefix}date-input-footer-ok-btn-border-color);
        font-size: var(--#{$prefix}date-input-footer-btn-font-size);
        font-weight: var(--#{$prefix}date-input-footer-btn-font-weight);
        line-height: var(--#{$prefix}date-input-footer-btn-line-height);
        transition: var(--neeto-ui-transition);
        border-radius: var(--#{$prefix}date-input-footer-btn-border-radius);
        height: auto;

        &:not([disabled]):hover {
          color: var(--#{$prefix}date-input-footer-ok-btn-hover-color);
          background-color: var(--#{$prefix}date-input-footer-ok-btn-hover-bg-color);
        }
        &[disabled] {
          cursor: not-allowed;
          opacity: var(--#{$prefix}date-input-footer-ok-btn-disabled-opacity);
        }
      }
    }
  }

  .ant-picker-panel-container {
    border: var(--#{$prefix}date-panel-container-border-width) solid var(--#{$prefix}date-panel-container-border-color);
    /* Elevation/S */
    box-shadow: var(--#{$prefix}date-panel-container-box-shadow);
    border-radius: var(--#{$prefix}date-panel-container-border-radius);
  }

  .ant-picker-panel-container .ant-picker-panel {
    border: 0;
  }
}

.neeto-ui-date-time-dropdown {
  .ant-picker-header {
    min-height: var(--#{$prefix}date-panel-header-min-height);
    padding: var(--#{$prefix}date-panel-header-padding-top) var(--#{$prefix}date-panel-header-padding-x) var(--#{$prefix}date-panel-header-padding-bottom) var(--#{$prefix}date-panel-header-padding-x);
    white-space: nowrap;
    align-items: center;
    border-bottom: var(--#{$prefix}date-panel-header-border-bottom-width);
  }

  .ant-picker-header-view {
    line-height: 1;
  }

  .ant-picker-header-view button {
    padding-right: var(--#{$prefix}date-panel-header-nav-btn-padding-right);
    position: relative;
    font-size: var(--#{$prefix}date-panel-header-nav-btn-font-size);
    font-weight: var(--#{$prefix}date-panel-header-nav-btn-font-weight);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' height='16' width='16'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%232f3941' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .ant-picker-header button {
    line-height: inherit;
    color: var(--#{$prefix}date-panel-header-btn-color);
  }

  .ant-picker-date-panel {
    width: var(--#{$prefix}date-panel-width);
  }

  .ant-picker-date-panel .ant-picker-content {
    width: var(--#{$prefix}date-panel-content-width);
  }

  .ant-picker-date-panel .ant-picker-content th {
    color: var(--#{$prefix}date-panel-content-header-color);
    font-size: var(--#{$prefix}date-panel-content-header-font-size);
    text-transform: uppercase;
  }

  .ant-picker-cell::before {
    height: var(--#{$prefix}date-input-cell-height);
  }

  .ant-picker-cell .ant-picker-cell-inner {
    user-select: none;
    font-size: var(--#{$prefix}date-input-cell-font-size);
    border-radius: var(--#{$prefix}date-input-cell-border-radius);

    &::before {
      border-radius: var(--#{$prefix}date-input-cell-border-radius);
    }
  }

  .ant-picker-cell-in-view {
    color: var(--#{$prefix}date-input-cell-color);
  }

  .ant-picker-range.ant-picker-focused .ant-picker-active-bar {
    background: var(--#{$prefix}date-input-active-bar-bg-color) !important;
  }

  .ant-picker-date-panel .ant-picker-header {
    .ant-picker-header-super-prev-btn,
    .ant-picker-header-super-next-btn {
      display: none !important;
    }
  }
  .ant-picker-datetime-panel .ant-picker-time-panel,
  .ant-picker-time-panel-column:not(:first-child) {
    border-left-color: var(--#{$prefix}time-panel-column-border-left-color);
  }
}

.neeto-ui-date-input-custom-panel {
  .ant-picker-time-panel-column {
    width: var(--#{$prefix}time-panel-column-width);
    flex-grow: 0;
    border: 0;
  }

  .ant-picker-time-panel-cell-inner {
    padding-left: var(--#{$prefix}time-panel-cell-padding-x) !important;
    padding-right: var(--#{$prefix}time-panel-cell-padding-x) !important;
    text-align: center;
    color: var(--#{$prefix}time-panel-cell-color)
  }

  .neeto-ui-date-input-custom-panel__header {
    display: flex;
    flex-direction: column;
    padding: var(--#{$prefix}time-panel-header-padding-top) var(--#{$prefix}time-panel-header-padding-x) var(--#{$prefix}time-panel-header-padding-bottom) var(--#{$prefix}time-panel-header-padding-x);
  }

  .neeto-ui-date-input-custom-panel__header-now-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--#{$prefix}time-panel-now-btn-margin-bottom);
    font-size: var(--#{$prefix}date-panel-header-nav-btn-font-size) !important;
  }

  .neeto-ui-date-input-custom-panel__header-cols {
    display: flex;
    gap: var(--#{$prefix}time-panel-header-column-gap);
  }

  .neeto-ui-date-input-custom-panel__header-col {
    width: var(--#{$prefix}time-panel-column-width);
    text-align: center;
    color: var(--#{$prefix}time-panel-header-column-color);
    font-size: var(--#{$prefix}time-panel-header-column-font-size);
    line-height: var(--#{$prefix}time-panel-header-column-line-height);
    text-transform: uppercase;
  }

  .neeto-ui-date-input-custom-panel__body {
    .ant-picker-panel {
      width: 100%;
    }
    .ant-picker-content {
      gap: var(--#{$prefix}time-panel-body-gap);
    }
    .ant-picker-time-panel {
      padding-left: var(--#{$prefix}time-panel-body-padding-x);
      padding-right: var(--#{$prefix}time-panel-body-padding-x);
    }
    .ant-picker-time-panel-cell-inner {
      border-radius: var(--#{$prefix}date-input-cell-border-radius) !important;
    }
  }
}
.ant-picker-ranges > li {
  margin-right: 8px;
}

.ant-picker-ranges .ant-picker-preset > .ant-tag-blue {
  height: auto;
  padding: var(--#{$prefix}date-input-footer-btn-padding-y) var(--#{$prefix}date-input-footer-btn-padding-x);
  color: var(--#{$prefix}date-input-footer-today-now-btn-color);
  font-size: var(--#{$prefix}date-input-footer-btn-font-size);
  font-weight: var(--#{$prefix}date-input-footer-btn-font-weight);
  line-height: var(--#{$prefix}date-input-footer-btn-line-height);
  transition: var(--neeto-ui-transition);
  border-radius: var(--#{$prefix}date-input-footer-btn-border-radius);
  background: rgba(255, 255, 255, 0);
  cursor: pointer;

  &:hover {
    color: var(--#{$prefix}date-input-footer-today-now-btn-hover-color);
    background: var(--#{$prefix}date-input-footer-today-now-btn-hover-bg-color);
  }
}
