.neeto-ui-date-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--neeto-ui-text-sm);
  transition: var(--neeto-ui-transition);
  color: rgb(var(--neeto-ui-gray-800));
  background-color: rgb(var(--neeto-ui-white));
  border: thin solid rgb(var(--neeto-ui-gray-400));
  border-radius: var(--neeto-ui-rounded);
  overflow: hidden;
  line-height: 1.2;

  &.neeto-ui-date-input--large {
    padding: 8px 12px;
  }

  &.neeto-ui-date-input--medium {
    padding: 4px 8px;
  }

  &.neeto-ui-date-input--small {
    padding: 2px 8px;
  }

  .ant-picker-input > input {
    color: rgb(var(--neeto-ui-gray-800));
  }

  &:hover:not(.neeto-ui-date-input--naked, .neeto-ui-date-input--error, .neeto-ui-date-input--disabled, .neeto-ui-time-input--disabled, .ant-picker-focused) {
    border-color: rgb(var(--neeto-ui-gray-800));
  }

  &.neeto-ui-date-input--error {
    border-color: rgb(var(--neeto-ui-error-500));

    &:focus-within:not(.neeto-ui-date-input--naked) {
      box-shadow: 0 0 0 3px rgb(var(--neeto-ui-error-100));
    }
  }

  &.neeto-ui-date-input--disabled {
    background-color: rgb(var(--neeto-ui-gray-100));
    cursor: not-allowed;

    input {
      cursor: not-allowed;
    }
  }

  .ant-picker-suffix {
    color: rgb(var(--neeto-ui-gray-700));
  }

  &.ant-picker-focused {
    border-color: rgb(var(--neeto-ui-primary-500)) !important;
    box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%) !important;

    &.neeto-ui-date-input--naked {
      border: none;
      box-shadow: none !important;
    }
    .ant-picker-suffix {
      color: rgb(var(--neeto-ui-gray-800));
    }
  }

  &.neeto-ui-date-input--naked {
    border: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;

    .neeto-ui-date-input__prefix {
      margin-left: 0;
    }

    .neeto-ui-date-input__suffix {
      margin-right: 0;
    }
  }

  &.neeto-ui-date-input--error {
    border-color: rgb(var(--neeto-ui-error-500));

    &:focus-within:not(.neeto-ui-date-input--naked) {
      box-shadow: 0 0 0 3px rgb(var(--neeto-ui-error-100));
    }
  }

  .ant-picker-clear {
    background-color: rgb(var(--neeto-ui-white));
    svg {
      width: 16px;
      height: 16px;
      color: rgb(var(--neeto-ui-gray-700));
    }
  }

  .ant-picker-range-arrow {
    display: none !important;
  }

  &.ant-picker-range.ant-picker-focused .ant-picker-active-bar {
    background: rgb(var(--neeto-ui-primary-500));
  }

  &.ant-picker-range .ant-picker-clear {
    right: 8px;
  }
}

// Time Input

.neeto-ui-time-input {
  color: rgb(var(--neeto-ui-gray-800));
  background-color: rgb(var(--neeto-ui-white));
  border: thin solid rgb(var(--neeto-ui-gray-400));
  border-radius: var(--neeto-ui-rounded);
  line-height: 1.2;

  &.neeto-ui-time-input--large {
    padding: 8px 12px;
  }

  &.neeto-ui-time-input--medium {
    padding: 4px 8px;
  }

  &.neeto-ui-time-input--small {
    padding: 2px 8px;
  }

  &:hover:not(.neeto-ui-time-input--naked, .neeto-ui-time-input--error, .neeto-ui-time-input--disabled) {
    border-color: rgb(var(--neeto-ui-gray-700));
  }

  &.neeto-ui-time-input--error {
    border-color: rgb(var(--neeto-ui-error-500));

    &:focus-within:not(.neeto-ui-time-input--naked) {
      box-shadow: 0 0 0 3px rgb(var(--neeto-ui-error-100));
    }
  }

  &.neeto-ui-time-input--disabled {
    background-color: rgb(var(--neeto-ui-gray-100));
    cursor: not-allowed;

    input {
      cursor: not-allowed;
    }
  }

  .ant-picker-suffix {
    color: rgb(var(--neeto-ui-gray-700));
  }

  &.ant-picker-focused {
    border-color: rgb(var(--neeto-ui-primary-500)) !important;
    box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%) !important;

    &.neeto-ui-date-input--naked {
      border: none;
      box-shadow: none !important;
    }
    .ant-picker-suffix {
      color: rgb(var(--neeto-ui-gray-800));
    }
  }

  &.neeto-ui-time-input--naked {
    border: none;
    box-shadow: none;

    .neeto-ui-time-input__prefix {
      margin-left: 0;
    }

    .neeto-ui-time-input__suffix {
      margin-right: 0;
    }
  }

  &.neeto-ui-time-input--error {
    border-color: rgb(var(--neeto-ui-error-500));

    &:focus-within:not(.neeto-ui-time-input--naked) {
      box-shadow: 0 0 0 3px rgb(var(--neeto-ui-error-100));
    }
  }

  .ant-picker-clear {
    background-color: rgb(var(--neeto-ui-white));
    svg {
      width: 16px;
      height: 16px;
      color: rgb(var(--neeto-ui-gray-700));
    }
  }

  .ant-picker-range-arrow {
    display: none !important;
  }
}

.neeto-ui-date-time-dropdown {
  .ant-picker-time-panel {
    .ant-picker-time-panel-column {
      & > li.ant-picker-time-panel-cell-selected {
        .ant-picker-time-panel-cell-inner {
          background: rgb(var(--neeto-ui-primary-500));
          color: rgb(var(--neeto-ui-white));
        }
      }
    }
  }
  .ant-picker-cell {
    color: rgba(var(--neeto-ui-gray-800), 0.25);
  }
  .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
  .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
    .ant-picker-cell-inner {
    background-color: rgb(var(--neeto-ui-gray-200));
  }

  .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell:not(.ant-picker-time-panel-cell-selected, .ant-picker-time-panel-cell-disabled)
    .ant-picker-time-panel-cell-inner {
    color: rgb(var(--neeto-ui-gray-800));

    &:hover {
      background-color: rgb(var(--neeto-ui-gray-200));
    }
  }
  .ant-picker-footer {
    border-top: 0 !important;
    border-bottom: 0 !important;
    background: rgb(var(--neeto-ui-gray-100));
  }
}

.neeto-ui-date-time-dropdown {
  padding-top: 2px;
  padding-bottom: 2px;
  z-index: calc(var(--neeto-ui-modal-z-index) + 1);
  .ant-picker-panel {
    .ant-picker-header {
      .ant-picker-header-view {
        color: rgb(var(--neeto-ui-gray-700));

        button {
          &:hover {
            color: rgb(var(--neeto-ui-gray-800));
          }
        }
      }
    }

    .ant-picker-body {
      .ant-picker-content {
        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-today {
          .ant-picker-cell-inner {
            &::before {
              border: 1px solid rgb(var(--neeto-ui-gray-800));
            }
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view {
          &::after {
            border-color: rgb(var(--neeto-ui-gray-400));
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-selected {
          .ant-picker-cell-inner {
            background: rgb(var(--neeto-ui-primary-500));
            color: rgb(var(--neeto-ui-white));
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-range-start,
        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-range-end {
          &::before {
            background: rgb(var(--neeto-ui-gray-200));
          }

          .ant-picker-cell-inner {
            background: rgb(var(--neeto-ui-primary-500));
            color: rgb(var(--neeto-ui-white));
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range {
          &::before {
            background: rgb(var(--neeto-ui-gray-200));
          }
        }

        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover,
        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start,
        .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end {
          &::before {
            background: rgb(var(--neeto-ui-gray-400));
          }

          .ant-picker-cell-inner {
            &::after {
              background: rgb(var(--neeto-ui-gray-400));
            }
          }
        }
      }
    }
  }

  .ant-picker-footer {
    .ant-picker-today-btn,
    .ant-picker-now-btn {
      position: relative;
      display: inline-flex !important;
      align-items: center;
      padding: 5px 8px;
      gap: 4px;
      color: rgb(var(--neeto-ui-gray-800));
      font-size: var(--neeto-ui-text-xs);
      font-weight: var(--neeto-ui-font-medium);
      line-height: 16px;
      transition: var(--neeto-ui-transition);
      border-radius: var(--neeto-ui-rounded);
      height: auto;

      &:hover {
        color: rgb(var(--neeto-ui-gray-800));
        background-color: rgb(var(--neeto-ui-gray-200));
      }
    }

    .ant-picker-ok {
      button {
        position: relative;
        display: inline-flex !important;
        align-items: center;
        padding: 5px 8px;
        gap: 4px;
        color: rgb(var(--neeto-ui-white));
        background: rgb(var(--neeto-ui-primary-500));
        border-color: rgb(var(--neeto-ui-primary-500));
        font-size: var(--neeto-ui-text-xs);
        font-weight: var(--neeto-ui-font-medium);
        line-height: 16px;
        transition: var(--neeto-ui-transition);
        border-radius: var(--neeto-ui-rounded);
        height: auto;

        &:not([disabled]):hover {
          color: rgb(var(--neeto-ui-white));
          background-color: rgb(var(--neeto-ui-primary-600));
        }
        &[disabled] {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }

  .ant-picker-panel-container {
    border: 1px solid rgb(var(--neeto-ui-gray-400));
    /* Elevation/S */
    box-shadow: var(--neeto-ui-shadow-lg);
    border-radius: var(--neeto-ui-rounded-xl);
    background-color: rgb(var(--neeto-ui-white));
  }

  .ant-picker-panel-container .ant-picker-panel {
    border: 0;
  }
}

.neeto-ui-date-input--error {
  border-color: rgb(var(--neeto-ui-error-500)) !important;
  &.ant-picker-focused {
    border-color: rgb(var(--neeto-ui-error-500)) !important;
    box-shadow: 0 0 0 3px rgb(var(--neeto-ui-error-100)) !important;
  }
}

.neeto-ui-date-time-dropdown {
  .ant-picker-header {
    min-height: 68px;
    padding: 12px 24px 0px 24px;
    white-space: nowrap;
    align-items: center;
    border-bottom-color: rgb(var(--neeto-ui-gray-200));
  }
  .ant-picker-date-panel .ant-picker-header {
    border-bottom: 0;
  }

  .ant-picker-header-view {
    line-height: 1;
  }

  .ant-picker-header-view button {
    padding-right: 24px;
    position: relative;
    font-size: 16px;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' height='16' width='16'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%232f3941' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .ant-picker-header button {
    line-height: inherit;
    color: rgb(var(--neeto-ui-gray-800));
  }

  .ant-picker-date-panel .ant-picker-body {
    padding-left: 24px;
    padding-right: 24px;
  }

  .ant-picker-date-panel {
    width: 320px;
  }

  .ant-picker-date-panel .ant-picker-content {
    width: 272px;
  }

  .ant-picker-date-panel .ant-picker-content th {
    color: rgb(var(--neeto-ui-gray-600));
    font-size: 12px;
    text-transform: uppercase;
  }

  .ant-picker-cell::before {
    height: 32px;
  }

  .ant-picker-cell .ant-picker-cell-inner {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    user-select: none;
    font-size: 14px;
    border-radius: 3px;

    &::before {
      border-radius: 3px;
    }
  }

  .ant-picker-cell-in-view {
    color: rgb(var(--neeto-ui-gray-800));
  }

  .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner::before {
    border-color: rgb(var(--neeto-ui-primary-500)) !important;
  }

  .ant-picker-range.ant-picker-focused .ant-picker-active-bar {
    background: rgb(var(--neeto-ui-primary-500)) !important;
  }

  .ant-picker-date-panel .ant-picker-header {
    .ant-picker-header-super-prev-btn,
    .ant-picker-header-super-next-btn {
      display: none !important;
    }
  }
  .ant-picker-datetime-panel .ant-picker-time-panel,
  .ant-picker-time-panel-column:not(:first-child) {
    border-left-color: rgb(var(--neeto-ui-gray-200));
  }
}

.neeto-ui-date-input-custom-panel {
  .ant-picker-time-panel-column {
    width: 62px;
    flex-grow: 0;
    border: 0;
  }

  .ant-picker-time-panel-cell-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    color: rgb(var(--neeto-ui-gray-800));
  }

  .neeto-ui-date-input-custom-panel__header {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 8px 16px;
  }

  .neeto-ui-date-input-custom-panel__header-now-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    font-size: 12px !important;
  }

  .neeto-ui-date-input-custom-panel__header-cols {
    display: flex;
    gap: 12px;
  }

  .neeto-ui-date-input-custom-panel__header-col {
    width: 62px;
    text-align: center;
    color: rgb(var(--neeto-ui-gray-600));
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .neeto-ui-date-input-custom-panel__body {
    .ant-picker-panel {
      width: 100%;
    }
    .ant-picker-content {
      gap: 12px;
    }
    .ant-picker-time-panel {
      padding-left: 16px;
      padding-right: 16px;
    }
    .ant-picker-time-panel-cell-inner {
      border-radius: 3px !important;
    }
  }
}
.ant-picker-ranges > li {
  margin-right: 8px;
}

.ant-picker-ranges .ant-picker-preset > .ant-tag-blue {
  height: auto;
  padding: 5px 8px;
  color: rgb(var(--neeto-ui-gray-800));
  font-size: var(--neeto-ui-text-xs);
  font-weight: var(--neeto-ui-font-medium);
  line-height: 16px;
  transition: var(--neeto-ui-transition);
  border-radius: var(--neeto-ui-rounded);
  background: rgba(255, 255, 255, 0);
  cursor: pointer;

  &:hover {
    color: rgb(var(--neeto-ui-gray-800));
    background: rgb(var(--neeto-ui-gray-200));
  }
}

// date time picker

.neeto-ui-date-time-input{
  .neeto-ui-date-input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .neeto-ui-time-picker .react-time-picker__wrapper{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
}

