.neeto-ui-dropdown__wrapper {
  &.neeto-ui-dropdown__wrapper--auto-width {
    ul {
      min-width: auto;
    }
  }
  &--multilevel {
    .neeto-ui-dropdown__popup {
      overflow-y: visible;
    }
  }
}

.neeto-ui-dropdown__popup {
  margin: 6px 0;
  box-shadow: var(--neeto-ui-shadow-lg) !important;
  border-radius: var(--neeto-ui-rounded) !important;
  border: 1px solid rgb(var(--neeto-ui-gray-400));
  width: auto;
  min-width: 168px;
  max-height: 480px;
  overflow-y: auto;
  background-color: rgb(var(--neeto-ui-white));
  border-radius: var(--neeto-ui-rounded);
  z-index: 99999;

  @media (max-height: 1000px) {
    max-height: calc(40vh - 50px);
  }

  li,
  .neeto-ui-dropdown--item {
    display: flex;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    transition: var(--neeto-ui-transition);
    font-size: var(--neeto-ui-text-sm);
    font-weight: var(--neeto-ui-font-normal);
    color: rgb(var(--neeto-ui-gray-800));
    padding: 6px 40px 6px 12px;
    text-decoration: none;
    outline-color: transparent;

    &.disabled {
      cursor: not-allowed;
      color: rgb(var(--neeto-ui-gray-500));
    }

    &:hover,
    &:focus {
      background-color: rgb(var(--neeto-ui-gray-200));
    }

    &.loading:not(.active) {
      &:after {
        content: "";
        position: absolute;
        right: 16px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 50%;
        border: solid 2px rgb(var(--neeto-ui-gray-200));
        border-top-color: rgb(var(--neeto-ui-black));
        border-left-color: rgb(var(--neeto-ui-black));
        animation: theme("animation.spin");
      }
    }

    &.active {
      background-color: rgb(var(--neeto-ui-gray-800));
      color: rgb(var(--neeto-ui-white));
    }
  }
  .neeto-ui-dropdown__popup-menu {
    padding: 4px 0;
  }
  .neeto-ui-dropdown__popup-menu-item {
    all: unset;
    display: block;
  }
  .neeto-ui-dropdown__popup-menu-item-btn {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    white-space: nowrap;
    line-height: 1.143;
    transition: var(--neeto-ui-transition);
    font-size: var(--neeto-ui-text-sm);
    font-weight: var(--neeto-ui-font-normal);
    color: rgb(var(--neeto-ui-gray-800));
    padding: 6px 12px;
    min-height: 32px;
    gap: 8px;
    text-decoration: none;
    outline-color: transparent;
    border-radius: 0;

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:hover:not(:disabled):not(.neeto-ui-dropdown__popup-menu-item-btn--active),
    &:focus:not(:disabled):not(.neeto-ui-dropdown__popup-menu-item-btn--active) {
      background-color: rgb(var(--neeto-ui-gray-200));
    }

    &--active {
      background-color: rgb(var(--neeto-ui-primary-500));
      color: rgb(var(--neeto-ui-white));
    }

    &--style-danger {
      color: rgb(var(--neeto-ui-error-800));
    }
  }
  .neeto-ui-dropdown__popup-divider {
    all: unset;
    width: 100%;
    display: flex;
    height: 1px;
    background-color: rgb(var(--neeto-ui-gray-200));
    margin: 4px 0;
    pointer-events: none;
  }
  .neeto-ui-dropdown__popup-menu-item-btn__suffix {
    margin-left: auto;
  }
}
