:root, .neeto-ui-theme--light, .neeto-ui-theme--dark {
  // Label Wrapper
  --neeto-ui-multi-email-input-label-wrapper-gap: 0.5rem;
  --neeto-ui-multi-email-input-counter-color: rgb(var(--neeto-ui-gray-700));
  --neeto-ui-multi-email-input-counter-line-height: 1;
  --neeto-ui-multi-email-input-counter-margin-bottom: 0.5rem;

  // Prefx & Suffix
  --neeto-ui-multi-email-input-prefix-suffix-icon-size: 1rem;
  --neeto-ui-multi-email-input-prefix-margin-left: 0.75rem;
}

.neeto-ui-email-input__wrapper {
  .neeto-ui-email-input__label-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--neeto-ui-multi-email-input-label-wrapper-gap);

    .neeto-ui-label {
      flex-grow: 1;
      overflow-wrap: break-word;
    }

    .neeto-ui-email-input__counter {
      color: var(--neeto-ui-multi-email-input-counter-color);
      line-height: var(--neeto-ui-multi-email-input-counter-line-height);
      margin-bottom: var(--neeto-ui-multi-email-input-counter-margin-bottom);
      margin-left: auto;
    }

  }

  .neeto-ui-email-input__prefix {
    margin-left: var(--neeto-ui-multi-email-input-prefix-margin-left);

    svg {
      width: var(--neeto-ui-multi-email-input-prefix-suffix-icon-size);
      height: var(--neeto-ui-multi-email-input-prefix-suffix-icon-size);
    }
  }

  .neeto-ui-email-input__suffix {
    svg {
      width: var(--neeto-ui-multi-email-input-prefix-suffix-icon-size);
      height: var(--neeto-ui-multi-email-input-prefix-suffix-icon-size);
    }
  }

  .neeto-ui-react-select__indicators,
  .neeto-ui-email-input__prefix{
    align-self: flex-start;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.1;
  }
  .neeto-ui-email-input__suffix,
  .neeto-ui-email-input__prefix{
    line-height: 1.1;
    min-height: 1rem;
  }
}

.neetix-email-input {
  --neeto-ui-multi-email-input-counter-color: rgb(var(--neeto-ui-primary-500));
}
