:root {
  @include rfs(var(--neeto-ui-text-sm), --neeto-ui-kbd-font-size);
  --neeto-ui-kbd-font-weight: var(--neeto-ui-font-semibold);
  --neeto-ui-kbd-color: rgb(var(--neeto-ui-gray-700));
  --neeto-ui-kbd-bg-color: rgb(var(--neeto-ui-gray-200));
  --neeto-ui-kbd-border-radius: var(--neeto-ui-rounded);
  --neeto-ui-kbd-min-width: 24px;
  --neeto-ui-kbd-height: 24px;
  --neeto-ui-kbd-padding: 4px;
}

.neeto-ui-kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--neeto-ui-kbd-padding);
  height: var(--neeto-ui-kbd-height);
  min-width: var(--neeto-ui-kbd-min-width);
  color: var(--neeto-ui-kbd-color);
  font-size: var(--neeto-ui-kbd-font-size);
  font-weight: var(--neeto-ui-kbd-font-weight);
  background-color: var(--neeto-ui-kbd-bg-color);
  border-radius: var(--neeto-ui-kbd-border-radius);
}
