.neeto-ui-pageloader__wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .neeto-ui-pageloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .neeto-ui-pageloader__content {
    position: relative;
    padding: 8px;
    margin-bottom: 16px;
    width: 66px;
    height: 66px;
    overflow: hidden;
  }

  .neeto-ui-pageloader__text {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(var(--neeto-ui-gray-800));
  }
}

.neeto-ui-pageloader__spinner {
  height: 25px;
  display: flex;
  gap: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.neeto-ui-pageloader__spinner > div {
  background-color: #fff;
  height: 100%;
  width: 2px;
  border-radius: 2px;
  display: inline-flex;

  -webkit-animation: neeto-ui-stretchdelay 1.2s infinite ease-in-out;
  animation: neeto-ui-stretchdelay 1.2s infinite ease-in-out;
}

.neeto-ui-pageloader__spinner .neeto-ui-pageloader__rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.neeto-ui-pageloader__spinner .neeto-ui-pageloader__rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.neeto-ui-pageloader__spinner .neeto-ui-pageloader__rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.neeto-ui-pageloader__spinner .neeto-ui-pageloader__rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes neeto-ui-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes neeto-ui-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
