.neeto-ui-pagination__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  .neeto-ui-pagination__item:not(.neeto-ui-pagination__item--dots) {
    margin: 0 4px;
    background-color: rgb(var(--neeto-ui-white));
    border: 1px solid transparent;
    border-radius: var(--neeto-ui-rounded);
    overflow: hidden;

    &:hover:not(.disabled, .active) {
      background-color: rgb(var(--neeto-ui-gray-200));
      color: rgb(var(--neeto-ui-gray-800));
    }
  }

  .neeto-ui-pagination__item {
    width: 28px;
    min-width: 28px;
    height: 28px;
    line-height: 26px;
    font-size: var(--neeto-ui-text-sm);
    font-weight: var(--neeto-ui-font-medium);
    transition: var(--neeto-ui-transition);
    border-radius: var(--neeto-ui-rounded);
    color: rgb(var(--neeto-ui-gray-700));
    user-select: none;

    a {
      display: block;
      text-align: center;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }

    &:focus-visible {
      outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
      outline-offset: 1px;
      box-shadow: none;

      a{
        outline: none;
        border: none;
      }
    }

    &.active {
      border-color: rgb(var(--neeto-ui-primary-500));
      background-color: rgb(var(--neeto-ui-primary-500));
      color: rgb(var(--neeto-ui-white));
    }

    &.neeto-ui-pagination__item--dots {
      background-color: transparent;
      text-align: center;
    }

    &.neeto-ui-pagination__item--navigate {
      text-align: center;
      color: rgb(var(--neeto-ui-gray-700));
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &:hover:not(.disabled),
      &:active {
        color: rgb(var(--neeto-ui-gray-800));
      }

      &.disabled {
        color: rgb(var(--neeto-ui-gray-300));

        a {
          cursor: not-allowed;
        }
      }
    }
  }
}
