@import "../abstracts/variables";
@import "../abstracts/mixins";

:root,
.neeto-ui-theme--light,
.neeto-ui-theme--dark {
  --neeto-ui-pane-spacing: 24px;

  // Backdrop
  --neeto-ui-pane-backdrop-z-index: var(--neeto-ui-modal-z-index);
  --neeto-ui-pane-backdrop-bg-color: #1b1f23dd;
  --neeto-ui-pane-backdrop-backdrop-filter: blur(2px);

  // Wrapper
  --neeto-ui-pane-wrapper-width: auto;
  --neeto-ui-pane-wrapper-max-width: 100%;
  --neeto-ui-pane-wrapper-height: auto;
  --neeto-ui-pane-wrapper-bg-color: rgb(var(--neeto-ui-white));
  --neeto-ui-pane-wrapper-backdrop-filter: blur(2px);

  // Close Button
  --neeto-ui-pane-close-btn-top: var(--neeto-ui-pane-spacing);
  --neeto-ui-pane-close-btn-right: var(--neeto-ui-pane-spacing);

  // Header
  --neeto-ui-pane-header-padding-y: var(--neeto-ui-pane-spacing);
  --neeto-ui-pane-header-padding-right: 64px;
  --neeto-ui-pane-header-padding-left: var(--neeto-ui-pane-spacing);

  // Body
  --neeto-ui-pane-body-padding-x: var(--neeto-ui-pane-spacing);
  --neeto-ui-pane-body-padding-y: 0px;
  --neeto-ui-pane-body-height: calc(100vh - var(--neeto-ui-pane-header-height));
  --neeto-ui-pane-body-font-size: var(--neeto-ui-text-sm);

  // Footer
  --neeto-ui-pane-footer-padding: var(--neeto-ui-pane-spacing);
  --neeto-ui-pane-footer-bg-color: rgb(var(--neeto-ui-white));
  --neeto-ui-pane-footer-min-height: var(--neeto-ui-pane-footer-height);
  --neeto-ui-pane-footer-box-shadow: var(--neeto-ui-shadow-m);
}

.neeto-ui-pane {
  &__backdrop {
    position: fixed;
    z-index: var(--neeto-ui-pane-backdrop-z-index);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    transition: all 0.3s;
    background-color: var(--neeto-ui-pane-backdrop-bg-color);
    backdrop-filter: var(--neeto-ui-pane-backdrop-backdrop-filter);
  }
  &__wrapper {
    overflow: hidden;
    width: var(--neeto-ui-pane-wrapper-width);
    max-width: var(--neeto-ui-pane-wrapper-max-width);
    height: var(--neeto-ui-pane-wrapper-height);
    background-color: var(--neeto-ui-pane-wrapper-bg-color);
    backdrop-filter: var(--neeto-ui-pane-wrapper-backdrop-filter);
    transform: translateX(100%);
    transition: all 0.3s;

    &--small {
      --neeto-ui-pane-wrapper-width: 480px;
    }

    &--large {
      --neeto-ui-pane-wrapper-width: 50vw;
    }

    @include viewport(tab-min) {
      width: 50%;
    }

    @include viewport(mob) {
      width: 100%;
    }
  }

  &__close {
    position: absolute;
    top: var(--neeto-ui-pane-close-btn-top);
    right: var(--neeto-ui-pane-close-btn-right);
  }

  &__header {
    width: 100%;
    padding: var(--neeto-ui-pane-header-padding-y)
      var(--neeto-ui-pane-header-padding-right)
      var(--neeto-ui-pane-header-padding-y)
      var(--neeto-ui-pane-header-padding-left);
  }

  &__body {
    --neeto-ui-pane-body-height: calc(
      100vh - var(--neeto-ui-pane-header-height)
    );
    width: 100%;
    height: var(--neeto-ui-pane-body-height);
    padding: var(--neeto-ui-pane-body-padding-y)
      var(--neeto-ui-pane-body-padding-x);
    font-size: var(--neeto-ui-pane-body-font-size);
    overflow-y: auto;

    &.neeto-ui-pane__body--has-footer {
      --neeto-ui-pane-body-height: calc(
        100vh - var(--neeto-ui-pane-header-height) -
          var(--neeto-ui-pane-footer-height)
      );
    }
  }

  &__footer {
    width: 100%;
    padding: var(--neeto-ui-pane-footer-padding);
    background-color: var(--neeto-ui-pane-footer-bg-color);
    min-height: var(--neeto-ui-pane-footer-min-height);
    box-shadow: var(--neeto-ui-pane-footer-box-shadow);

    &.neeto-ui-pane__footer__absolute {
      width: 100%;
      position: absolute;
      left: 0;
    }
  }
}

// CSS transition group

.neeto-ui-pane-enter {
  &.neeto-ui-pane__backdrop {
    opacity: 0;
    backdrop-filter: var(--neeto-ui-pane-backdrop-backdrop-filter);
  }
  .neeto-ui-pane__wrapper {
    transform: translateX(100%);
    backdrop-filter: var(--neeto-ui-pane-wrapper-backdrop-filter);
  }
}
.neeto-ui-pane-enter-active,
.neeto-ui-pane-enter-done {
  &.neeto-ui-pane__backdrop {
    opacity: 1;
    backdrop-filter: var(--neeto-ui-pane-backdrop-backdrop-filter);
  }
  .neeto-ui-pane__wrapper {
    transform: translateX(0);
    backdrop-filter: blur(0px);
  }
}
.neeto-ui-pane-exit {
  &.neeto-ui-pane__backdrop {
    opacity: 1;
    backdrop-filter: var(--neeto-ui-pane-backdrop-backdrop-filter);
  }
  .neeto-ui-pane__wrapper {
    transform: translateX(100%);
    backdrop-filter: var(--neeto-ui-pane-wrapper-backdrop-filter);
  }
}
.neeto-ui-pane-exit-active {
  &.neeto-ui-pane__backdrop {
    opacity: 0;
    backdrop-filter: var(--neeto-ui-pane-backdrop-backdrop-filter);
  }
  .neeto-ui-pane__wrapper {
    transform: translateX(100%);
    backdrop-filter: var(--neeto-ui-pane-wrapper-backdrop-filter);
  }
}

.neetix-pane {
  --neeto-ui-pane-wrapper-bg-color: rgb(var(--neeto-ui-gray-100));
}
