.neeto-ui-popover {
  border: 1px solid rgb(var(--neeto-ui-gray-400));
  box-shadow: var(--neeto-ui-shadow-lg);
  border-radius: var(--neeto-ui-rounded);
  background-color: rgb(var(--neeto-ui-white));
  border-radius: var(--neeto-ui-rounded);
  max-width: 350px;
  padding: 1rem;

  &[data-theme~="light"] {
    border-color: rgb(var(--neeto-ui-gray-400));
  }
}
