.neeto-ui-react-select__container.neeto-ui-react-select__container--error {
  .neeto-ui-react-select__control {
    border: thin solid rgb(var(--neeto-ui-error-500)) !important;
  }
  .neeto-ui-react-select__control.neeto-ui-react-select__control--is-focused {
    box-shadow: 0 0 0 3px rgb(var(--neeto-ui-error-100));
  }
}

.neeto-ui-react-select__container {
  width: 100%;
}

.neeto-ui-react-select__container,
.neeto-ui-react-select__menu-portal {
  font-size: var(--neeto-ui-text-sm);

  &.neeto-ui-react-select__container--naked {
    .neeto-ui-react-select__control {
      border: none;
      background-color: transparent;
    }

    .neeto-ui-react-select__control.neeto-ui-react-select__control--is-focused {
      border: none;
    }

    .neeto-ui-react-select__value-container {
      padding: 0;
    }

    .neeto-ui-react-select__indicator {
      padding: 0;
    }
  }

  &.neeto-ui-react-select--is-disabled {
    cursor: not-allowed;
    pointer-events: all;

    .neeto-ui-react-select__indicators {
      pointer-events: none;
    }
  }

  .neeto-ui-react-select__control.neeto-ui-react-select__control--is-disabled {
    background-color: rgb(var(--neeto-ui-gray-100)) !important;
    border: thin solid rgb(var(--neeto-ui-gray-400)) !important;
    cursor: not-allowed;
  }

  .neeto-ui-react-select__control.neeto-ui-react-select__control--is-focused {
    transition: var(--neeto-ui-transition);
    outline-color: transparent;
    border-color: rgb(var(--neeto-ui-primary-500));
    box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%);
  }

  .neeto-ui-react-select__control {
    border: thin solid rgb(var(--neeto-ui-gray-400));
    border-radius: var(--neeto-ui-rounded);
    background-color: rgb(var(--neeto-ui-white));
    min-height: 0;
    transition: border 0.3s;

    &:hover:not(.neeto-ui-react-select__control--is-focused) {
      border-color: rgb(var(--neeto-ui-gray-700));
    }
  }

  .neeto-ui-react-select__value-container {
    line-height: 1.2;
  }

  &.neeto-ui-react-select__container--small {
    .neeto-ui-react-select__value-container {
      min-height: 26px;
      padding: 0 8px;
    }
    .neeto-ui-react-select__indicators {
      padding-right: 8px;
    }
  }

  &.neeto-ui-react-select__container--medium {
    .neeto-ui-react-select__value-container {
      min-height: 30px;
      padding: 0 8px;
    }
    .neeto-ui-react-select__indicators {
      padding-right: 8px;
    }
  }

  &.neeto-ui-react-select__container--large {
    .neeto-ui-react-select__value-container {
      padding: 0 12px;
      min-height: 38px;
    }
    .neeto-ui-react-select__indicators {
      padding-right: 12px;
    }
  }

  .neeto-ui-react-select__placeholder {
    color: rgb(var(--neeto-ui-gray-400));
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .neeto-ui-react-select__input-container {
    color: rgb(var(--neeto-ui-gray-800));
  }

  .neeto-ui-react-select__single-value {
    color: rgb(var(--neeto-ui-gray-800));
  }

  .neeto-ui-react-select__input {
    color: rgb(var(--neeto-ui-gray-800));
    font-size: inherit;
  }

  .neeto-ui-react-select__indicator-separator {
    display: none;
  }

  .neeto-ui-react-select__indicators {
    padding-right: 12px;
    gap: 8px;
  }

  .neeto-ui-react-select__indicator {
    padding: 0;
    cursor: pointer;
    color: rgb(var(--neeto-ui-gray-800));
    transition: var(--neeto-ui-transition);

    &:hover {
      color: rgb(var(--neeto-ui-gray-700));
    }
  }

  .neeto-ui-react-select__menu {
    border-radius: var(--neeto-ui-rounded);
    margin: 6px 0 16px;
    z-index: 20;
    border: thin solid rgb(var(--neeto-ui-gray-400)) !important;
    box-shadow: var(--neeto-ui-shadow-lg);
    background-color: rgb(var(--neeto-ui-white));

    .neeto-ui-react-select__menu-list {
      position: relative;
      max-height: 480px;

      @media (max-height: 1000px) {
        max-height: calc(40vh - 50px);
      }
    }

    .neeto-ui-react-select__option {
      color: rgb(var(--neeto-ui-gray-800));
      font-size: inherit;
      cursor: pointer;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      padding: 8px 12px;
      line-height: 1.1;
      min-height: 32px;
      transition: var(--neeto-ui-transition);
    }

    .neeto-ui-react-select__option--is-focused {
      background-color: rgb(var(--neeto-ui-gray-200));
    }

    .neeto-ui-react-select__option--is-disabled {
      color: rgb(var(--neeto-ui-gray-200));
      cursor: not-allowed;
    }

    .neeto-ui-react-select__option--is-selected {
      background-color: rgb(var(--neeto-ui-primary-500));
      color: rgb(var(--neeto-ui-white));
    }

    .neeto-ui-react-select__fixed-option {
      width: 100%;
      font-size: inherit;
      border-top: thin solid rgb(var(--neeto-ui-gray-100));
      padding: 2px 0;
      cursor: pointer;

      a {
        width: 100%;
        display: inline-block;
        color: rgb(var(--neeto-ui-gray-700));
        transition: var(--neeto-ui-transition);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 8px 12px;
      }

      &:hover {
        a {
          color: rgb(var(--neeto-ui-gray-800));
          text-decoration: none;
        }
      }
    }
  }

  .neeto-ui-react-select__multi-value {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    user-select: none;
    background-color: transparent;
    border: thin solid rgb(var(--neeto-ui-gray-400));
    border-radius: 100px;
    margin: 3px 4px 3px 0;
    padding: 0 8px;
    color: rgb(var(--neeto-ui-gray-800));
    .neeto-ui-react-select__multi-value__label {
      margin: 0 6px 0 0;
      color: inherit !important;
      font-size: var(--neeto-ui-text-sm);
      line-height: var(--neeto-ui-leading-tight);
      padding: 2px 0;
      line-height: 1;
      display: flex;
      align-items: center;
    }
    .neeto-ui-react-select__multi-value__remove {
      color: inherit !important;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .neeto-ui-react-select__multi-value__remove {
    cursor: pointer;
    transition: var(--neeto-ui-transition);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: rgb(var(--neeto-ui-gray-800));
    padding: 0;

    &:hover {
      background-color: transparent;
      color: rgb(var(--neeto-ui-gray-700));
    }
  }
}

.neeto-ui-react-select__container
  .neeto-ui-react-select__control.neeto-ui-react-select__control--is-disabled {
  pointer-events: none;
}

.neeto-ui-react-select__menu-portal {
  .neeto-ui-react-select__menu {
    margin: 6px 0;
  }
}

.neeto-ui-react-select__add-btn {
  font-size: 12px;
  padding: 4px 8px;
}

.neeto-ui-react-select__container {
  .neeto-ui-react-select__add-btn {
    font-size: 12px;
    padding: 4px 8px;
  }
  &--small {
    .neeto-ui-react-select__add-btn {
      margin-left: 2px;
    }
  }
  &--medium {
    .neeto-ui-react-select__add-btn {
      margin-left: 4px;
    }
  }
  &--large {
    .neeto-ui-react-select__add-btn {
      margin-left: 8px;
    }
  }
}

.neeto-ui-react-select--is-disabled {
  .neeto-ui-react-select__add-btn {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
