:root {
  --#{$prefix}tab-wrapper-border-width: 2px;
  --#{$prefix}tab-wrapper-border-color: rgb(var(--neeto-ui-gray-300));
  --#{$prefix}tab-padding-x: 8px;
  --#{$prefix}tab-padding-y: 12px;
  @include rfs(var(--neeto-ui-text-sm), --#{$prefix}tab-font-size);
  --#{$prefix}tab-font-weight: var(--neeto-ui-font-semibold);
  --#{$prefix}tab-line-height: 1;
  --#{$prefix}tab-color: rgb(var(--neeto-ui-gray-600));
  --#{$prefix}tab-border-color: transparent;
  --#{$prefix}tab-gap: 12px;
  --#{$prefix}tab-icon-size: 16px;
  --#{$prefix}tab-text-decoration: none;
  --#{$prefix}tab-outline: none;

  // Hover
  --#{$prefix}tab-hover-color: rgb(var(--neeto-ui-gray-700));
  --#{$prefix}tab-hover-text-decoration: none;
  --#{$prefix}tab-hover-outline: none;

  // Focus
  --#{$prefix}tab-focus-color: rgb(var(--neeto-ui-gray-700));
  --#{$prefix}tab-focus-text-decoration: none;
  --#{$prefix}tab-focus-outline: none;

  // Active
  --#{$prefix}tab-active-text-decoration: none;
  --#{$prefix}tab-active-outline: none;

  // Focus Visible
  --#{$prefix}tab-focus-visible-color: rgb(var(--neeto-ui-gray-800));
  --#{$prefix}tab-focus-visible-outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
  --#{$prefix}tab-focus-visible-outline-offset: 1px;
  --#{$prefix}tab-focus-visible-box-shadow: none;
}

.neeto-ui-tab__wrapper {
  width: 100%;
  border-bottom: var(--#{$prefix}tab-wrapper-border-width) solid var(--#{$prefix}tab-wrapper-border-color);

  &--size-large {
    .neeto-ui-tab {
      --neeto-ui-tab-font-size: var(--neeto-ui-text-xl);
      --neeto-ui-tab-padding-x: 12px;
    }
  }

  &--underline-none {
    --neeto-ui-tab-wrapper-border-width: 0px;
  }
}

.neeto-ui-tab {
  color: var(--#{$prefix}tab-color);
  font-weight: var(--#{$prefix}tab-font-weight);
  font-size: var(--#{$prefix}tab-font-size);
  line-height: var(--#{$prefix}tab-line-height);
  padding: var(--#{$prefix}tab-padding-y) var(--#{$prefix}tab-padding-x);
  transition: var(--neeto-ui-transition);
  gap: var(--#{$prefix}tab-gap);
  position: relative;
  cursor: pointer;
  text-decoration: var(--#{$prefix}tab-text-decoration);
  outline: var(--#{$prefix}tab-outline);

  svg {
    width: var(--#{$prefix}tab-icon-size);
    height: var(--#{$prefix}tab-icon-size);
  }

  &:hover {
    color: var(--#{$prefix}tab-hover-color);
    text-decoration: var(--#{$prefix}tab-hover-text-decoration);
    outline: var(--#{$prefix}tab-hover-outline);
  }

  &:focus {
    color: var(--#{$prefix}tab-focus-color);
    text-decoration: var(--#{$prefix}tab-focus-text-decoration);
    outline: var(--#{$prefix}tab-focus-outline);
  }

  &:active {
    text-decoration: var(--#{$prefix}tab-active-text-decoration);
    outline: var(--#{$prefix}tab-active-outline);
  }

  &:focus-visible {
    text-decoration: none;
    color: var(--#{$prefix}tab-focus-visible-color);
    outline: var(--#{$prefix}tab-focus-visible-outline);
    outline-offset: var(--#{$prefix}tab-focus-visible-outline-offset);
    box-shadow: var(--#{$prefix}tab-focus-visible-box-shadow);
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--#{$prefix}tab-wrapper-border-width);
    background-color: var(--#{$prefix}tab-border-color);
    left: 0;
    right: 0;
    bottom: calc(var(--#{$prefix}tab-wrapper-border-width) * -1);
    transition: var(--neeto-ui-transition);
  }

  &.active {
    --neeto-ui-tab-color: rgb(var(--neeto-ui-gray-800));
    --neeto-ui-tab-border-color: rgb(var(--neeto-ui-gray-800));
  }
}
