// Ant Table overrides

.ant-table-wrapper {
  width: 100%;
  border-collapse: collapse;

  table tr th.ant-table-selection-column,
  table tr td.ant-table-selection-column {
    z-index: 9998;
  }

  .ant-table-cell-fix-left,
  .ant-table-cell-fix-right {
    background-color: rgb(var(--neeto-ui-white)) !important;
  }

  .ant-table {
    background-color: rgb(var(--neeto-ui-white)) !important;
  }

  // To prevent antD `a` color override
  .neeto-ui-btn--style-link {
    &:hover {
      color: rgb(var(--neeto-ui-primary-800));
    }
  }

  thead.ant-table-thead {
    tr {
      th {
        color: rgb(var(--neeto-ui-gray-700));
        background-color: rgb(var(--neeto-ui-gray-100)) !important;

        font-size: var(--neeto-ui-text-xs);
        vertical-align: middle;
        font-weight: var(--neeto-ui-font-bold);
        text-transform: uppercase;
        border-radius: 0 !important;

        &::before {
          display: none;
        }
      }

      [data-text-align="center"] {
        .ant-table-column-sorters {
          justify-content: center !important;
        }
      }
      [data-text-align="right"] {
        .ant-table-column-sorters {
          justify-content: flex-end !important;
        }
      }

      th.ant-table-cell.ant-table-column-has-sorters {
        cursor: auto;

        .ant-table-column-sorters {
          .ant-table-column-sorter.ant-table-column-sorter-full {
            .ant-table-column-sorter-inner {
              .ant-table-column-sorter-up {
                color: rgb(var(--neeto-ui-gray-300)) !important;
              }

              .ant-table-column-sorter-down {
                color: rgb(var(--neeto-ui-gray-300)) !important;
              }

              .active {
                color: rgb(var(--neeto-ui-primary-800)) !important;
              }
            }
          }
        }
      }
    }
  }

  .ant-table-tbody > tr.ant-table-row:hover > td {
    background-color: rgb(var(--neeto-ui-gray-100)) !important;
  }

  .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: rgb(var(--neeto-ui-primary-100)) !important;
  }

  .neeto-ui-table--row {
    color: rgb(var(--neeto-ui-gray-800));
    font-size: var(--neeto-ui-text-sm);
    font-weight: var(--neeto-ui-font-normal);
    vertical-align: middle;

    a:not(.neeto-ui-btn) {
      color: rgb(var(--neeto-ui-primary-500));

      transition: var(--neeto-ui-transition);
      font-weight: var(--neeto-ui-font-medium);

      &:hover {
        opacity: 0.8;
        color: rgb(var(--neeto-ui-primary-500));
        text-decoration: underline;
      }
    }
  }

  .ant-table-pagination.ant-pagination {
    margin: 12px 0 0 0 !important;
  }

  .ant-table-pagination.ant-pagination .ant-pagination-prev,
  .ant-table-pagination.ant-pagination .ant-pagination-next,
  .ant-table-pagination.ant-pagination .ant-pagination-jump-prev,
  .ant-table-pagination.ant-pagination .ant-pagination-jump-next {
    min-width: 28px;
    height: 28px;
    line-height: 28px;
  }

  ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      border-radius: var(--neeto-ui-rounded-sm);
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--neeto-ui-white);
    }

    li.ant-pagination-item {
      border: 1px solid transparent;
      border-radius: var(--neeto-ui-rounded);
      font-size: var(--neeto-ui-text-sm);
      font-weight: var(--neeto-ui-font-medium);
      background-color: rgb(var(--neeto-ui-white));
      // transition: var(--neeto-ui-transition);

      min-width: 28px;
      height: 28px;
      line-height: 26px;

      a {
        color: rgb(var(--neeto-ui-gray-700));
      }

      &:hover {
        background-color: rgb(var(--neeto-ui-gray-200)) !important;
        color: rgb(var(--neeto-ui-gray-800)) !important;

        a {
          color: rgb(var(--neeto-ui-gray-800)) !important;
        }
      }

      &:focus-visible {
        outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
        outline-offset: 1px;
        box-shadow: none;
      }
    }

    li.ant-pagination-item.ant-pagination-item-active {
      border-color: rgb(var(--neeto-ui-primary-500)) !important;
      background-color: rgb(var(--neeto-ui-primary-500)) !important;

      a {
        color: rgb(var(--neeto-ui-white)) !important;
      }
    }

    .ant-pagination-prev:not(.ant-pagination-disabled),
    .ant-pagination-next:not(.ant-pagination-disabled) {
      &:hover {
        .ant-pagination-item-link {
          border-color: transparent;
          background-color: rgb(var(--neeto-ui-gray-200));

          .anticon.anticon-left,
          .anticon.anticon-right {
            color: rgb(var(--neeto-ui-gray-700));
          }
        }
      }
    }
  }

  .ant-pagination-jump-next.ant-pagination-jump-next-custom-icon,
  .ant-pagination-jump-prev.ant-pagination-jump-prev-custom-icon {
    .anticon.anticon-double-right.ant-pagination-item-link-icon,
    .anticon.anticon-double-left.ant-pagination-item-link-icon {
      color: rgb(var(--neeto-ui-gray-800));
    }
  }

  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th,
  .ant-table tfoot > tr > td,
  .ant-table tfoot > tr > th {
    padding: 10px 16px;
  }

  .ant-pagination-options {
    .ant-select-dropdown {
      border-radius: var(--neeto-ui-rounded);
      padding: 4px 0;
      border: thin solid rgb(var(--neeto-ui-gray-400)) !important;
      box-shadow: var(--neeto-ui-shadow-sm);
    }

    div.ant-select {
      .ant-select-arrow {
        color: rgb(var(--neeto-ui-gray-800));
        font-size: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .ant-select-selector {
        border: thin solid rgb(var(--neeto-ui-gray-400));
        border-radius: var(--neeto-ui-rounded);
        background-color: rgb(var(--neeto-ui-white));
      }

      .ant-select-selection-item {
        color: rgb(var(--neeto-ui-gray-800));
      }

      &:hover:not(.ant-select-focused) {
        .ant-select-selector {
          border-color: rgb(var(--neeto-ui-gray-800)) !important;
          outline: none;

          &:focus,
          &:focus-visible,
          &:active {
            border-color: rgb(var(--neeto-ui-primary-500));
            box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%);
          }
        }
      }

      &.ant-select-focused {
        .ant-select-selector {
          border-color: rgb(var(--neeto-ui-primary-500));
          box-shadow: 0 0 0 3px rgba(var(--neeto-ui-primary-500), 15%);
          background-color: rgb(var(--neeto-ui-white));
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          outline: none;

          &:focus,
          &:focus-visible,
          &:active {
            border-color: rgb(var(--neeto-ui-primary-500));
          }
        }
      }
    }
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: rgb(var(--neeto-ui-gray-200));
    color: rgb(var(--neeto-ui-gray-800));
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: inherit;
    color: rgb(var(--neeto-ui-white));
    background-color: rgb(var(--neeto-ui-primary-500));
  }

  .ant-spin-nested-loading {
    .ant-spin.ant-spin-spinning {
      .ant-spin-dot-item {
        background-color: rgb(var(--neeto-ui-gray-800));
      }
    }
  }

  .ant-pagination-prev:not(.ant-pagination-disabled):hover
    .ant-pagination-item-link,
  .ant-pagination-next:not(.ant-pagination-disabled):hover
    .ant-pagination-item-link {
    background-color: rgb(var(--neeto-ui-gray-200));
    border-color: rgb(var(--neeto-ui-gray-200));
    .anticon-left,
    .anticon-right {
      opacity: 1;
    }
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border-color: transparent;
  }

  .ant-pagination-disabled .ant-pagination-item-link,
  .ant-pagination-disabled:hover .ant-pagination-item-link,
  .ant-pagination-disabled:focus-visible .ant-pagination-item-link {
    color: rgb(var(--neeto-ui-gray-500));
    opacity: 0.3;
  }

  .ant-pagination-item-link .anticon-left,
  .ant-pagination-item-link .anticon-right {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    svg {
      display: none;
    }
  }

  .ant-pagination-jump-next .ant-pagination-item-link,
  .ant-pagination-jump-prev .ant-pagination-item-link {
    width: 32px;
    height: 32px;
    display: flex;
    .ant-pagination-item-container {
      width: 32px;
      height: 32px;
      display: flex;
    }
    .anticon-double-right,
    .anticon-double-left {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.ant-pagination-prev button,
.ant-pagination-next button {
  color: rgb(var(--neeto-ui-gray-800)) !important;
}

td.ant-table-column-sort {
  background-color: transparent !important;
}

.ant-table-column-sorters {
  .ant-table-column-title {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: calc(100% - 20px);
  }
  justify-content: flex-start !important;
  gap: 8px;
}

.ant-table-column-has-sorters[aria-sort="ascending"],
.ant-table-column-has-sorters[aria-sort="descending"] {
  .ant-table-column-title {
    color: rgb(var(--neeto-ui-primary-800)) !important;
  }
}

.ant-table-column-sorter-inner {
  .anticon-caret-up {
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
      position: relative;
      top: 4px;
    }
  }
  .anticon-caret-down {
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
      position: relative;
      top: -4px;
    }
  }
}

// bordered table styles

.ant-table.ant-table-bordered > .ant-table-title {
  border: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
  border-bottom: 0;
}
.ant-table.ant-table-bordered > .ant-table-container {
  border-left: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
  border-top: 0 !important;
  border-radius: 0 !important;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tfoot
  > tr
  > td {
  border-right: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr:not(:last-child)
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr:not(:last-child)
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr:not(:last-child)
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr:not(:last-child)
  > th {
  border-bottom: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > thead
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tfoot
  > tr
  > .ant-table-cell-fix-right-first::after {
  border-right: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
}
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-summary
  > table
  > tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed::after {
  bottom: 0;
  border-right: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
}

.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table {
  border-top: 1px solid rgb(var(--neeto-ui-gray-200));
}

.ant-table.ant-table-bordered > .ant-table-footer {
  border: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
  border-top: 0;
}

.ant-table-thead > tr > th {
  border-bottom: 2px solid rgb(var(--neeto-ui-gray-200)) !important;
  user-select: none;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
}

.ant-table-summary > tr > th,
.ant-table-summary > tr > td {
  border-bottom: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
}

.ant-table-filter-dropdown-btns {
  border-top: 1px solid rgb(var(--neeto-ui-gray-200));
}

.ant-table-row-expand-icon {
  border: 1px solid rgb(var(--neeto-ui-gray-200));
}

.ant-table-sticky-scroll {
  border-top: 1px solid rgb(var(--neeto-ui-gray-200)) !important;
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}

.react-resizable-handle:hover {
  background-color: rgb(var(--neeto-ui-gray-300));
}

.neeto-ui-table-reorderable
  .drag-handler:not(.ant-table-cell-fix-sticky):hover {
  cursor: move;
}

.ant-table-tbody > tr > td {
  .neeto-ui-btn--style-link {
    line-height: inherit;
  }
}

.ant-table-thead > tr > th {
  transition: none;
}

.ant-table-thead th.ant-table-column-has-sorters {
  transition: none;
}

.ant-table table,
.ant-table-header {
  border-radius: 0 !important;
}

.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  font-size: 11px !important;
}
