.neeto-ui-tab__wrapper {
  width: 100%;
  border-bottom: 2px solid rgb(var(--neeto-ui-gray-300));

  &--size-large {
    .neeto-ui-tab {
      font-size: var(--neeto-ui-text-xl);
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  &--underline-none {
    border-bottom: none;
    .neeto-ui-tab {
      &::before {
        display: none;
      }
    }
  }
}

.neeto-ui-tab {
  color: rgb(var(--neeto-ui-gray-600));
  font-weight: var(--neeto-ui-font-semibold);
  font-size: var(--neeto-ui-text-sm);
  line-height: 1;
  padding: 12px 8px;
  transition: var(--neeto-ui-transition);
  position: relative;
  cursor: pointer;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
    outline: none;
  }

  &:focus-visible{
    text-decoration: none; 
    color: rgb(var(--neeto-ui-gray-800));
    outline: 3px solid rgba(var(--neeto-ui-primary-500), 50%);
    outline-offset: 1px;
    box-shadow: none;
  }

  &__icon {
    margin-right: 12px;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    color: rgb(var(--neeto-ui-gray-600));
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: transparent;
    left: 0;
    right: 0;
    bottom: -2px;
    transition: var(--neeto-ui-transition);
  }

  &.active {
    color: rgb(var(--neeto-ui-gray-800));

    &:before {
      background-color: rgb(var(--neeto-ui-gray-800));
    }
  }
}
