// floating-ui
.neeto-ui-tooltip {
  background-color: rgb(var(--neeto-ui-gray-800));
  color: rgb(var(--neeto-ui-white));
  font-size: var(--neeto-ui-text-xs);
  font-size: var(--neeto-ui-text-xs);
  border-radius: var(--neeto-ui-rounded);
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
  word-wrap: break-word;
  padding: 4px 8px;
}

// tippy core
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: rgb(var(--neeto-ui-gray-800));
}

// light theme
.tippy-box[data-theme~="light"] .tippy-svg-arrow > svg > path {
  fill: rgb(var(--neeto-ui-white));
}
.tippy-box[data-theme~="light"] {
  color: rgb(var(--neeto-ui-gray-800));
  box-shadow: var(--neeto-ui-shadow-sm);
  background-color: rgb(var(--neeto-ui-white));
}
.tippy-box[data-theme~="light"][data-placement^="top"] > .tippy-arrow:before {
  border-top-color: rgb(var(--neeto-ui-white));
}
.tippy-box[data-theme~="light"][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: rgb(var(--neeto-ui-white));
}
.tippy-box[data-theme~="light"][data-placement^="left"] > .tippy-arrow:before {
  border-left-color: rgb(var(--neeto-ui-white));
}
.tippy-box[data-theme~="light"][data-placement^="right"] > .tippy-arrow:before {
  border-right-color: rgb(var(--neeto-ui-white));
}
.tippy-box[data-theme~="light"] > .tippy-backdrop {
  background-color: rgb(var(--neeto-ui-white));
}
.tippy-box[data-theme~="light"] > .tippy-svg-arrow {
  fill: rgb(var(--neeto-ui-white));
}
