.neeto-ui-tooltip {
  background-color: rgb(var(--neeto-ui-gray-800));
  color: rgb(var(--neeto-ui-white));
  font-size: var(--neeto-ui-text-xs);
  font-size: var(--neeto-ui-text-xs);
  border-radius: var(--neeto-ui-rounded);
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
  word-wrap: break-word;
  padding: 4px 8px;
}
