:root, .neeto-ui-theme--light, .neeto-ui-theme--dark {
  --neeto-ui-tree-checkbox-color: rgb(var(--neeto-ui-primary-500));
  --neeto-ui-tree-checkbox-border-color: rgb(var(--neeto-ui-gray-300));
  --neeto-ui-tree-checkbox-border-radius: var(--neeto-ui-rounded-sm);

  // Hover
  --neeto-ui-tree-checkbox-hover-border-color: rgb(var(--neeto-ui-gray-500));

  // Checked
  --neeto-ui-tree-checkbox-checked-border-color: rgb(var(--neeto-ui-primary-500));
  --neeto-ui-tree-checkbox-checked-bg-color: rgb(var(--neeto-ui-primary-500));

  // Drag Icon
  --neeto-ui-tree-drag-icon-opacity: 0.4;

  // Search Value
  --neeto-ui-tree-search-value: #f50;
}

.neeto-ui-tree {
  .site-tree-search-value {
    color: var(--neeto-ui-tree-search-value);
  }

  .ant-tree-checkbox {
    .ant-tree-checkbox-inner {
      color: var(--neeto-ui-tree-checkbox-color);
      border-color: var(--neeto-ui-tree-checkbox-border-color);
      border-radius: var(--neeto-ui-tree-checkbox-border-radius);

      &::after {
        top: 47.5%;
        inset-inline-start: 18.5%;
      }
    }

    &:hover {
      .ant-tree-checkbox-inner {
        border-color: var(--neeto-ui-tree-checkbox-hover-border-color) !important;
      }
    }
  }

  .ant-tree-checkbox-checked {
    .ant-tree-checkbox-inner {
      border-color: var(--neeto-ui-tree-checkbox-checked-border-color) !important;
      background-color: var(--neeto-ui-tree-checkbox-checked-bg-color) !important;
    }
    &:hover {
      .ant-tree-checkbox-inner {
        border-color: var(--neeto-ui-tree-checkbox-checked-border-color) !important;
      }
    }
  }

  .ant-tree-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-tree-draggable-icon {
    opacity: var(--neeto-ui-tree-drag-icon-opacity) !important;
  }
}

.neetix-tree {
  --neeto-ui-tree-checkbox-color: rgb(var(--neeto-ui-success-500));
  --neeto-ui-tree-checkbox-checked-border-color: rgb(var(--neeto-ui-success-500));
  --neeto-ui-tree-checkbox-checked-bg-color: rgb(var(--neeto-ui-success-500));
}
