# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/lib
/build
/tests

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.husky
.github
.editorconfig
.eslintrc.js
jsconfig.json
.eslint-rules
.circleci
.node-version
jest-setup.js

#logs
/*.log

#example
/example

#stories
/stories
/.storybook

#configs
/*.config.js