.neeto-ui-theme--dark {
  // Body
  --neeto-ui-body-color: 200, 200, 200;
  --neeto-ui-body-bg: 18, 18, 18;
  --neeto-ui-white: 18, 18, 18;
  --neeto-ui-black: 224, 224, 224;
  --neeto-ui-gray-100: 30, 30, 30;
  --neeto-ui-gray-200: 44, 44, 44;
  --neeto-ui-gray-300: 57, 57, 57;
  --neeto-ui-gray-400: 73, 73, 73;
  --neeto-ui-gray-500: 92, 92, 92;
  --neeto-ui-gray-600: 124, 124, 124;
  --neeto-ui-gray-700: 162, 162, 162;
  --neeto-ui-gray-800: 200, 200, 200;
  --neeto-ui-primary-800: 209, 213, 254;
  --neeto-ui-primary-600: 181, 188, 253;
  --neeto-ui-primary-500: 125, 137, 251;
  --neeto-ui-primary-100: 27, 28, 37;
  --neeto-ui-error-800: 247, 109, 116;
  --neeto-ui-error-600: 236, 91, 98;
  --neeto-ui-error-500: 227, 72, 80;
  --neeto-ui-error-100: 129, 33, 38;
  --neeto-ui-success-800: 57, 185, 144;
  --neeto-ui-success-600: 51, 171, 132;
  --neeto-ui-success-500: 45, 157, 120;
  --neeto-ui-success-100: 23, 85, 65;
  --neeto-ui-warning-800: 249, 164, 63;
  --neeto-ui-warning-600: 242, 148, 35;
  --neeto-ui-warning-500: 230, 134, 25;
  --neeto-ui-warning-100: 131, 74, 11;
  --neeto-ui-info-800: 75, 156, 245;
  --neeto-ui-info-600: 55, 142, 240;
  --neeto-ui-info-500: 38, 128, 235;
  --neeto-ui-info-100: 11, 69, 137;
  --neeto-ui-pastel-silver: 167, 168, 170;
  --neeto-ui-pastel-red: 183, 164, 165;
  --neeto-ui-pastel-yellow: 182, 175, 143;
  --neeto-ui-pastel-green: 152, 179, 167;
  --neeto-ui-pastel-blue: 170, 175, 183;
  --neeto-ui-pastel-purple: 171, 169, 183;
  --neeto-ui-pastel-pink: 181, 162, 174;
}
