$prefix: "neeto-ui-";

// Body
$neeto-ui-body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
"Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif !important;
$neeto-ui-body-font-size: 14px;
$neeto-ui-body-font-weight: 400;
$neeto-ui-body-line-height: 1.3;

// Color palette

// base
$neeto-ui-white: 255, 255, 255;
$neeto-ui-black: 0, 0, 0;

// gray
$neeto-ui-gray-800: 18, 18, 18;
$neeto-ui-gray-700: 47, 57, 65;
$neeto-ui-gray-600: 104, 115, 125;
$neeto-ui-gray-500: 135, 146, 157;
$neeto-ui-gray-400: 194, 200, 204;
$neeto-ui-gray-300: 216, 220, 222;
$neeto-ui-gray-200: 233, 235, 237;
$neeto-ui-gray-100: 248, 249, 249;

// primary
$neeto-ui-primary-800: 45, 54, 212;
$neeto-ui-primary-600: 54, 66, 223;
$neeto-ui-primary-500: 69, 88, 249;
$neeto-ui-primary-100: 235, 236, 254;

// success
$neeto-ui-success-800: 16, 113, 84;
$neeto-ui-success-600: 18, 128, 92;
$neeto-ui-success-500: 38, 142, 108;
$neeto-ui-success-100: 225, 243, 238;

// error
$neeto-ui-error-800: 187, 18, 26;
$neeto-ui-error-600: 201, 37, 45;
$neeto-ui-error-500: 215, 55, 63;
$neeto-ui-error-100: 254, 236, 240;

// info
$neeto-ui-info-800: 9, 90, 186;
$neeto-ui-info-600: 13, 102, 208;
$neeto-ui-info-500: 20, 115, 230;
$neeto-ui-info-100: 226, 242, 255;

// warning
$neeto-ui-warning-800: 189, 100, 13;
$neeto-ui-warning-600: 203, 111, 16;
$neeto-ui-warning-500: 218, 123, 17;
$neeto-ui-warning-100: 251, 242, 225;

// Pastel colors
$neeto-ui-pastel-silver: 232, 233, 237;
$neeto-ui-pastel-red: 255, 229, 229;
$neeto-ui-pastel-yellow: 254, 243, 197;
$neeto-ui-pastel-green: 211, 249, 232;
$neeto-ui-pastel-blue: 236, 244, 255;
$neeto-ui-pastel-purple: 238, 235, 255;
$neeto-ui-pastel-pink: 253, 226, 241;


// neeto-ui-theme-colors-map
$neeto-ui-theme-colors: (
  // base
  "black": $neeto-ui-black,
  "white": $neeto-ui-white,
  // content
  "gray-800": $neeto-ui-gray-800,
  "gray-700": $neeto-ui-gray-700,
  "gray-600": $neeto-ui-gray-600,
  "gray-500": $neeto-ui-gray-500,
  "gray-400": $neeto-ui-gray-400,
  "gray-300": $neeto-ui-gray-300,
  "gray-200": $neeto-ui-gray-200,
  "gray-100": $neeto-ui-gray-100,
  // primary
  "primary-800": $neeto-ui-primary-800,
  "primary-600": $neeto-ui-primary-600,
  "primary-500": $neeto-ui-primary-500,
  "primary-100": $neeto-ui-primary-100,
  // error
  "error-800": $neeto-ui-error-800,
  "error-600": $neeto-ui-error-600,
  "error-500": $neeto-ui-error-500,
  "error-100": $neeto-ui-error-100,
  // success
  "success-800": $neeto-ui-success-800,
  "success-600": $neeto-ui-success-600,
  "success-500": $neeto-ui-success-500,
  "success-100": $neeto-ui-success-100,
  // warning
  "warning-800": $neeto-ui-warning-800,
  "warning-600": $neeto-ui-warning-600,
  "warning-500": $neeto-ui-warning-500,
  "warning-100": $neeto-ui-warning-100,
  // info
  "info-800": $neeto-ui-info-800,
  "info-600": $neeto-ui-info-600,
  "info-500": $neeto-ui-info-500,
  "info-100": $neeto-ui-info-100,
  // pastel
  "pastel-silver": $neeto-ui-pastel-silver,
  "pastel-red": $neeto-ui-pastel-red,
  "pastel-yellow": $neeto-ui-pastel-yellow,
  "pastel-green": $neeto-ui-pastel-green,
  "pastel-blue": $neeto-ui-pastel-blue,
  "pastel-purple": $neeto-ui-pastel-purple,
  "pastel-pink": $neeto-ui-pastel-pink
);

// Font Weights
$neeto-ui-font-thin: 100;
$neeto-ui-font-extralight: 200;
$neeto-ui-font-light: 300;
$neeto-ui-font-normal: 400;
$neeto-ui-font-medium: 500;
$neeto-ui-font-semibold: 600;
$neeto-ui-font-bold: 700;
$neeto-ui-font-extrabold: 800;
$neeto-ui-font-black: 900;

// neeto-ui-font-weights-map
$neeto-ui-font-weights: (
  "thin": $neeto-ui-font-thin,
  "extralight": $neeto-ui-font-extralight,
  "light": $neeto-ui-font-light,
  "normal": $neeto-ui-font-normal,
  "medium": $neeto-ui-font-medium,
  "semibold": $neeto-ui-font-semibold,
  "bold": $neeto-ui-font-bold,
  "extrabold": $neeto-ui-font-extrabold,
  "black": $neeto-ui-font-black,
);

// Font Sizes
$neeto-ui-text-xxs: 10px;
$neeto-ui-text-xs: 12px;
$neeto-ui-text-sm: 14px;
$neeto-ui-text-base: 16px;
$neeto-ui-text-lg: 18px;
$neeto-ui-text-xl: 20px;
$neeto-ui-text-2xl: 24px;
$neeto-ui-text-3xl: 32px;
$neeto-ui-text-4xl: 48px;

// neeto-ui-font-sizes-map
$neeto-ui-font-sizes: (
  "h1": $neeto-ui-text-3xl,
  "h2": $neeto-ui-text-2xl,
  "h3": $neeto-ui-text-xl,
  "h4": $neeto-ui-text-base,
  "h5": $neeto-ui-text-sm,
  "h6": $neeto-ui-text-xs,
  "body1": $neeto-ui-text-base,
  "body2": $neeto-ui-text-sm,
  "body3": $neeto-ui-text-xs,
  "nano": $neeto-ui-text-xxs,
  "xxs": $neeto-ui-text-xxs,
  "xs": $neeto-ui-text-xs,
  "sm": $neeto-ui-text-sm,
  "base": $neeto-ui-text-base,
  "lg": $neeto-ui-text-lg,
  "xl": $neeto-ui-text-xl,
  "2xl": $neeto-ui-text-2xl,
  "3xl": $neeto-ui-text-3xl,
  "4xl": $neeto-ui-text-4xl,
);

// Line Heights
$neeto-ui-leading-none: 1;
$neeto-ui-leading-tight: 1.25;
$neeto-ui-leading-snug: 1.375;
$neeto-ui-leading-normal: 1.5;
$neeto-ui-leading-relaxed: 1.625;
$neeto-ui-leading-loose: 2;

// neeto-ui-line-heights-map
$neeto-ui-line-heights: (
  "none": $neeto-ui-leading-none,
  "tight": $neeto-ui-leading-tight,
  "snug": $neeto-ui-leading-snug,
  "normal": $neeto-ui-leading-normal,
  "relaxed": $neeto-ui-leading-relaxed,
  "loose": $neeto-ui-leading-loose,
);

// Text-transform
$neeto-ui-text-transform-none: none;
$neeto-ui-text-transform-capitalize: capitalize;
$neeto-ui-text-transform-uppercase: uppercase;
$neeto-ui-text-transform-lowercase: lowercase;
$neeto-ui-text-transform-fullwidth: full-width;
$neeto-ui-text-transform-inherit: inherit;
$neeto-ui-text-transform-initial: initial;
$neeto-ui-text-transform-revert: revert;
$neeto-ui-text-transform-unset: unset;

// neeto-ui-text-transform-map
$neeto-ui-text-transform: (
  "none": $neeto-ui-text-transform-none,
  "capitalize": $neeto-ui-text-transform-capitalize,
  "uppercase": $neeto-ui-text-transform-uppercase,
  "lowercase": $neeto-ui-text-transform-lowercase,
  "full-width": $neeto-ui-text-transform-fullwidth,
  "inherit": $neeto-ui-text-transform-inherit,
  "initial": $neeto-ui-text-transform-initial,
  "revert": $neeto-ui-text-transform-revert,
  "unset": $neeto-ui-text-transform-unset,
);

// Border Radius
$neeto-ui-rounded-none: 0;
$neeto-ui-rounded-sm: 3px;
$neeto-ui-rounded: 5px;
$neeto-ui-rounded-md: 6px;
$neeto-ui-rounded-lg: 8px;
$neeto-ui-rounded-xl: 12px;
$neeto-ui-rounded-full: 999px;

// Transition
$neeto-ui-transition: all 0.3s linear;

// Box Shadows
$neeto-ui-shadow-xs: 0px 1px 4px -1px rgba(28, 48, 74, 0.12);
$neeto-ui-shadow-s: 0px 3px 12px -1px rgba(28, 52, 84, 0.12),
  0px 2px 4px -1px rgba(28, 55, 90, 0.08);
$neeto-ui-shadow-sm: 0px 3px 12px -1px rgba(28, 52, 84, 0.12),
  0px 2px 4px -1px rgba(28, 55, 90, 0.08);
$neeto-ui-shadow-m: 0px 8px 24px -4px rgba(28, 50, 79, 0.12),
  0px 2px 6px -1px rgba(28, 55, 90, 0.08);
$neeto-ui-shadow-md: 0px 8px 24px -4px rgba(28, 50, 79, 0.12),
  0px 2px 6px -1px rgba(28, 55, 90, 0.08);
$neeto-ui-shadow-l: 0 8px 24px rgba(140,149,159,0.2),
  0px 3px 18px -2px rgba(28, 55, 90, 0.08);
$neeto-ui-shadow-lg: 0 8px 24px rgba(140,149,159,0.2);

// neeto-ui-shadows-map
$neeto-ui-shadows: (
  "xs": $neeto-ui-shadow-xs,
  "s": $neeto-ui-shadow-s,
  "sm": $neeto-ui-shadow-sm,
  "m": $neeto-ui-shadow-m,
  "md": $neeto-ui-shadow-md,
  "l": $neeto-ui-shadow-l,
  "lg": $neeto-ui-shadow-lg,
);

// Breakpoints
$neeto-ui-mob-479: 479px;
$neeto-ui-tab-768: 768px;
$neeto-ui-tab-1024: 1024px;
$neeto-ui-desk-1200: 1200px;

// Constants
$neeto-ui-pane-header-height: 78px;
$neeto-ui-pane-footer-height: 80px;
$neeto-ui-main-header-height: 80px;
$neeto-ui-main-header-with-breadcrumbs-height: 94px;
$neeto-ui-sub-header-height: 37px;
$neeto-ui-sub-header-bottom-margin: 20px;
$neeto-ui-pagination-block-height: 88px;
$neeto-ui-table-header-height: 40px;

// Z Indexes
$neeto-ui-modal-z-index: 99999;

