version: 2.1
aliases:
        - &test_environment
            docker:
              # replace with your preferred image
              - image: circleci/node:14
jobs:
  Build:
       <<: *test_environment
       steps:
          - checkout
          - run: yarn install

  "Snapshot Test":
            <<: *test_environment
            steps:
              - run:
                  name: Run Snapshot Tests
                  command: yarn chromatic test --exit-zero-on-changes --project-token $CHROMATIC_PROJECT_TOKEN
  "Unit Test":
          <<: *test_environment
          steps:
            - run:
                name: Run Unit Tests
                command: yarn test

workflows:
  neetoui-tests:
    jobs:
      - "Snapshot Test":
          requires:
            - Build

      - "Unit Test":
            requires:
            - Build

