//Abstracts
@import "./abstracts/mixins";
@import "./abstracts/normalize";
@import "./abstracts/variables";
@import "./abstracts/root";
@import "./abstracts/theme";

//Base
@import "./base/base";

//Utilities
@import "./utilities/animations";
@import "./utilities/helpers";
@import "./utilities/utilities";

//Ant Components
@import "./vendors/ant-animations";
@import "./vendors/ant-spin";
@import "./vendors/antd-buttons";
@import "./vendors/antd-date-picker";
@import "./vendors/antd-table";
@import "./vendors/antd-pagination";
@import "./vendors/antd-select";

//Components
@import "./components/accordion";
@import "./components/action-dropdown";
@import "./components/avatar";
@import "./components/button";
@import "./components/callout";
@import "./components/checkbox";
@import "./components/color-picker";
@import "./components/common";
@import "./components/date-time-picker";
@import "./components/dropdown";
@import "./components/input";
@import "./components/modal";
@import "./components/pagination";
@import "./components/pane";
@import "./components/radio";
@import "./components/select";
@import "./components/switch";
@import "./components/tab";
@import "./components/table";
@import "./components/tag";
@import "./components/tooltip";
@import "./components/spinner";
@import "./components/email-input";
@import "./components/toast";
@import "./components/kbd";
@import "./components/popover";
@import "./components/no-data";
@import "./components/tree-select";
@import "./components/tree";
@import "./components/slider";
@import "./components/time-picker-input";

//Layouts
@import "./layout/common";
@import "./layout/sidebar";

//Tooltip animations
@import "../../node_modules/tippy.js/animations/scale-subtle.css";

// // AntDesign date picker
// @import "antd/dist/antd.css";
