name: Label Checker
on:
  pull_request:
    types: [opened, labeled, unlabeled]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Enforce PR Label
        id: enforce_pr_labels
        uses: amaldinesh7/enforce-pr-labels@main
        with:
          mode: exactly
          count: 1
          labels: "major, minor, patch"

      - name: Comment PR
        if: |
          always() && steps.enforce_pr_labels.outputs.message != ''
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: '${{steps.enforce_pr_labels.outputs.message}}'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}