
name: "Publish and create releases"
on:
  pull_request:
    branches:
      - master
    types: [closed]
jobs:
  release:
    name: "Release"
    runs-on: macos-latest
    if: ${{ github.event.pull_request.merged == true && !contains(github.event.pull_request.labels.*.name, 'skip-ci') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.2.0
      - name: node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: yarn install
      - run: yarn build
      - run: yarn config set version-tag-prefix "v"
      - run: git config core.hooksPath /dev/null

      - name: Bump version and create tag
        if: contains(github.event.pull_request.labels.*.name, 'release')
        run: yarn version --patch

      - name: Bump version
        if: "!contains(github.event.pull_request.labels.*.name, 'release')"
        run: yarn version --patch --no-git-tag-version

      - uses: EndBug/add-and-commit@v7
        with:
          branch: master
          message: 'New version release'

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Read package.json
        uses: tyankatsu0105/read-package-version-actions@v1
        id: package-version

      - name: Release Drafter
        uses: release-drafter/release-drafter@v5.15.0
        if: ${{contains(github.event.pull_request.labels.*.name, 'release')}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: v${{ steps.package-version.outputs.version }}
          publish: true
      - name: "Publish"
        uses: JS-DevTools/npm-publish@v1
        with:
          access: "public"
          token: ${{ secrets.NPM_TOKEN }}