name: "Publish and create releases"
on:
  pull_request:
    branches:
      - main
    types: [closed]
jobs:
  release:
    name: "Release"
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == true && !contains(github.event.pull_request.labels.*.name, 'skip-ci') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.2.0

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: yarn install
      - run: yarn bundle
      - run: yarn config set version-tag-prefix "v"
      - run: git config core.hooksPath /dev/null
      - run: git config user.email "amalkdinesh@gmail.com"
      - run: git config user.name "Amal dinesh"

      - name: Find version bump type
        id: BUMP_TYPE
        run: |
          IFS=',' read -r -a label_array <<< "${{ join(github.event.pull_request.labels.*.name, ',') }}"
          for item in ${label_array[*]}
          do
            if [[ "$item" == "major" || "$item" == "minor" || "$item" == "patch" ]]; then
              echo "::set-output name=TYPE::$(echo $item)"
            fi
          done
        shell: bash

      - name: Git tagging check
        id: TAG_CHECK
        run: |
          IFS=',' read -r -a label_array <<< "${{ join(github.event.pull_request.labels.*.name, ',') }}"
          if [[ "${label_array[*]}" =~ "release" ]]; then
            echo "::set-output name=TAG_OPTION::"
          else
            echo "::set-output name=TAG_OPTION::--no-git-tag-version"
          fi

      - name: Bump Version
        id: BUMP_VERSION
        run: |
          BUMP_TYPE=${{steps.BUMP_TYPE.outputs.TYPE}}
          VERSION_BUMP_TYPE="${BUMP_TYPE:="patch"}"
          yarn version --$VERSION_BUMP_TYPE ${{steps.TAG_CHECK.outputs.TAG_OPTION}}

          PACKAGE_VERSION=$(cat package.json|grep version|head -1|awk -F: '{ print $2 }'|sed 's/[", ]//g')
          echo "::set-output name=PACKAGE_VERSION::$(echo $PACKAGE_VERSION)"

      - name: Read pull request body
        uses: 8BitJonny/gh-get-current-pr@2.0.0
        id: PR
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.event.pull_request.head.sha }}

      - name: Extract changelog
        id: CHANGELOG
        run: |
          content=$(echo '${{ steps.PR.outputs.pr_body }}' | python3 -c 'import json; import sys; print(json.dumps(sys.stdin.read().partition("**Description**")[2].partition("**Checklist**")[0].strip()))')
          echo "CHANGELOG=${content}" >> $GITHUB_ENV
        shell: bash

      - name: Update Changelog
        continue-on-error: true
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          latest-version: ${{ steps.BUMP_VERSION.outputs.PACKAGE_VERSION }}
          release-notes: ${{ fromJson(env.CHANGELOG) }}

      - name: Commit and Push changes
        uses: EndBug/add-and-commit@v7
        with:
          branch: main
          message: "New version release"

      - name: Create Github Release
        uses: release-drafter/release-drafter@v5.15.0
        if: ${{contains(github.event.pull_request.labels.*.name, 'release')}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: v${{ steps.BUMP_VERSION.outputs.VERSION }}
          publish: true

      - name: "Publish to NPM"
        uses: JS-DevTools/npm-publish@v1
        with:
          access: "public"
          token: ${{ secrets.NPM_TOKEN }}
