// Custom

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}

button {
  background-color: transparent;
  background-image: none;
  border: none;
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: rgb(var(--neeto-ui-white));
  border-color: #6b7280;
  border-width: 1px;
}

[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 6px;
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66671 1L4.00004 6.66667L1.33337 4' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: 11px 8px;
}

[type="radio"] {
  border-radius: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}

body {
  color: rgb(var(--neeto-ui-gray-800));
}

h1,
h2,
h3,
h4,
h5,
h6,
.neeto-ui-text-h1,
.neeto-ui-text-h2,
.neeto-ui-text-h3,
.neeto-ui-text-h4,
.neeto-ui-text-h5,
.neeto-ui-text-h6 {
  color: rgb(var(--neeto-ui-black));
}

h1 {
  font-size: var(--neeto-ui-text-3xl);
  font-weight: var(--neeto-ui-font-semibold);
  line-height: var(--neeto-ui-leading-tight);
}

h2 {
  font-size: var(--neeto-ui-text-2xl);
  font-weight: var(--neeto-ui-font-semibold);
  line-height: var(--neeto-ui-leading-tight);
}

h3 {
  font-size: var(--neeto-ui-text-xl);
  font-weight: var(--neeto-ui-font-semibold);
  line-height: var(--neeto-ui-leading-tight);
}

h4 {
  font-size: var(--neeto-ui-text-base);
  font-weight: var(--neeto-ui-font-semibold);
  line-height: var(--neeto-ui-leading-tight);
}

h5 {
  font-size: var(--neeto-ui-text-sm);
  font-weight: var(--neeto-ui-font-semibold);
  line-height: var(--neeto-ui-leading-tight);
}

h6 {
  font-size: var(--neeto-ui-text-xs);
  font-weight: var(--neeto-ui-font-semibold);
  line-height: var(--neeto-ui-leading-tight);
}

p {
  font-size: var(--neeto-ui-text-sm);
  line-height: var(--neeto-ui-leading-normal);
}
